Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Change connection string name
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

Move protobuf contract and mappers to same folder as the integration event to improve overview and cohesiveness
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventHandlers/EnergySupplierChangedDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/EnergySupplierChange/EnergySupplierChangedIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/EnergySupplierChange/EnergySupplierChangedIntegrationEvent.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/EnergySupplierChange/EnergySupplierChangedIntegrationMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/EnergySupplierChange/EnergySupplierChangedTopic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/EnergySupplierChange/PublishWhenEnergySupplierHasChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
Due: integration

Rename namespace since it does not include any dispatching logic
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventHandlers/EnergySupplierChangedDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/EnergySupplierChangedIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/EnergySupplierChangedIntegrationEvent.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/EnergySupplierChangedIntegrationMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/EnergySupplierChangedTopic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/PublishWhenEnergySupplierHasChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/IIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Delete contracts currently not needed to avoid confusion
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/FutureEnergySupplierChangeAccepted.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/FutureEnergySupplierChangeCancelled.proto
Due: integration

Update DI registration
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
Due: integration

Function Name change
  build/infrastructure/azfun-internal-command-dispatcher.tf
Due: none

add error conversion
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CannotBeInStateOfClosedDownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ChangeOfSupplierRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CprNumberFormatRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CvrNumberFormatRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/EffectuationDateCannotBeInThePastRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/EnergySupplierMustBeKnownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GlnNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidDomainErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeEnergySuppliableRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeKnownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MoveInRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MoveOutRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MustHaveEnergySupplierAssociatedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ProductionMeteringPointMustBeObligatedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/SocialSecurityNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/StartOfSupplyMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/TransactionMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/VATNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Error.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/ErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/ErrorMessageFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Does this work now?
  build/infrastructure/sb-integration-event-shared.tf
Due: none

missing license
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CannotBeInStateOfClosedDownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ChangeOfSupplierRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CprNumberFormatRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/EffectuationDateCannotBeInThePastRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/EnergySupplierMustBeKnownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeEnergySuppliableRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeKnownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MoveInRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MoveOutRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MustHaveEnergySupplierAssociatedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ProductionMeteringPointMustBeObligatedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/StartOfSupplyMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/TransactionMustBeValidRuleErrorConverter.cs
Due: integration

add businesssectortype
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/AcknowledgementXmlSerializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/ConfirmMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/RejectMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
Due: integration

clean up
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/MarketActivityRecord.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/MarketActivityRecordWithReasons.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/MarketParticipant.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/Reason.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
Due: integration

fix warnings
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/AcknowledgementXmlSerializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CannotBeInStateOfClosedDownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ChangeOfSupplierRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CprNumberFormatRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CvrNumberFormatRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/EffectuationDateCannotBeInThePastRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/EnergySupplierMustBeKnownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GlnNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidDomainErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeEnergySuppliableRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeKnownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MoveInRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MoveOutRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MustHaveEnergySupplierAssociatedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ProductionMeteringPointMustBeObligatedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/SocialSecurityNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/StartOfSupplyMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/TransactionMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/VATNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/ErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/ErrorMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/ErrorMessageFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/ConverterMapperConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurations.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/XmlConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/XmlMappingConfigurationBase.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

fix build error
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
Due: integration

Update function name in CD
  .github/workflows/internal-command-dispatcher-cd.yml
Due: none

init commit
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Energinet.DataHub.MarketRoles.EntryPoints.Outbox.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Users/UserIdentityFactory.cs
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CannotBeInStateOfClosedDownRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CannotBeInStateOfClosedDownRuleErrorConverter.cs
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ChangeOfSupplierRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ChangeOfSupplierRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CprNumberFormatRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CprNumberFormatRuleErrorConverter.cs
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CvrNumberFormatRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CvrNumberFormatRuleErrorConverter.cs
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ProductionMeteringPointMustBeObligatedRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ProductionMeteringPointMustBeObligatedRuleErrorConverter.cs
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/SocialSecurityNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/SocialSecurityNumberMustBeValidRuleErrorConverter.cs
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/StartOfSupplyMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/StartOfSupplyMustBeValidRuleErrorConverter.cs
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/VATNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/VATNumberMustBeValidRuleErrorConverter.cs
Due: integration

fix warnings
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/CommandApi.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/ConverterMapperConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurations.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/IXmlDeserializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/XmlDeserializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/XmlConverterTests.cs
Due: unit, integration

add connection string
  build/infrastructure/azfun-outbox.tf
Due: none

.
  build/infrastructure/azfun-outbox.tf
Due: none

.
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Users/UserIdentityFactory.cs
Due: integration

initial commit
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/azfun-processing.tf
  build/infrastructure/sb-integration-event-shared.tf
Due: none

Fix connection string for integration tests
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

Move integration event dispatcher interface to infrastructure layer
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/IIntegrationEventDispatchOrchestrator.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Services/IntegrationEventDispatchOrchestrator.cs
Due: integration

Move common input validation rules for consumers to Common namespace
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/Consumers/SocialSecurityNumberMustBeValidRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/Consumers/SocialSecurityNumberMustBeValidRuleError.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/Consumers/VATNumberMustBeValidRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/Consumers/VATNumberMustBeValidRuleError.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/Validation/RequestMoveInRuleSet.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/SocialSecurityNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/VATNumberMustBeValidRuleErrorConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/MoveIn/Validation/RequestMoveInRuleSetTests.cs
Due: unit, integration

commit
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/azfun-processing.tf
  build/infrastructure/sb-integration-event-shared.tf
Due: none

push
  build/infrastructure/azfun-outbox.tf
Due: none

Add AccountingPointId to integration event
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/EnergySupplierChangedIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/EnergySupplierChangedIntegrationEvent.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/EnergySupplierChangedIntegrationMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/PublishWhenEnergySupplierHasChanged.cs
Due: integration

Fix ingestion not recognizing change of supplier process
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplier.cs
Due: unit

update ci/cd
  .github/actions/apply-database-migrations/action.yml
  .github/dependabot.yml
  .github/workflows/codecov-ci.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/ingestion-cd.yml
  .github/workflows/ingestion-ci.yml
  .github/workflows/internal-command-dispatcher-cd.yml
  .github/workflows/internal-command-dispatcher-ci.yml
  .github/workflows/outbox-cd.yml
  .github/workflows/outbox-ci.yml
  .github/workflows/processing-cd.yml
  .github/workflows/processing-ci.yml
Due: none

update ci/cd
  codecov.yml
Due: none

Add change of supplier mapper and rename fields to conform to rest of the project
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplierHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Validation/RequestChangeOfSupplierRuleSet.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/ChangeOfSupplier/RequestChangeOfSupplierApproved.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/ChangeOfSupplier/RequestChangeOfSupplierResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/Mappings/ChangeOfSupplierXmlMappingConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Ingestion/Mappers/ChangeOfSupplierMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Contracts/Contract.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/XmlConverterTests.cs
Due: unit, integration

Path conditions:
  unit: any of: source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/, source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/, source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/
  integration: any of: source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion, source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox, source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure
