Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/
  integration:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure

coverage:
  status:
    project:
      default:
        informational: true
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Update codecov.yml
  codecov.yml
Due: none

Update NOTICE.md
  NOTICE.md
Due: none

Remove nullable
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/SeedWork/Entity.cs
Due: unit

Add domain events accessor
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DomainEventDispatching/DomainEventsAccessor.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DomainEventDispatching/IDomainEventsAccessor.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Add domain events dispatcher
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DomainEventDispatching/DomainEventsDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DomainEventDispatching/IDomainEventsDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Add domain events dispatcher behaviour to business processing pipeline
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/DomainEventsDispatcherBehaviour.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Enrich domain events
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ChangeOfSupplierProcessManager.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/ChangeSupplier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Events/ConsumerDetailsDispatched.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Events/CurrentSupplierNotified.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Events/MeteringPointDetailsDispatched.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/ChangeOfSupplierCancelled.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/EnergySupplierChangeRegistered.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/EnergySupplierChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Process/ChangeOfSupplierProcessManagerTests.cs
Due: unit

Add factory method
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPointId.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/BusinessProcessId.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Transaction.cs
Due: unit

Add query method
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/IAccountingPointRepository.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/AccountingPoints/AccountingPointRepository.cs
Due: unit, integration

Add domain event publisher
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/DomainEvents/IDomainEventPublisher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DomainEventDispatching/DomainEventPublisher.cs
Due: unit, integration

Replace value objects with primitives
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ChangeOfSupplierProcessManager.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/ChangeSupplier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/NotifyCurrentSupplier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/SendConsumerDetails.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/SendMeteringPointDetails.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
Due: unit

Implement domain event publishing in handlers
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/NotifyCurrentSupplierHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/SendConsumerDetailsHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/SendMeteringPointDetailsHandler.cs
Due: unit

Add handler for effectuate change of supplier business process
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: unit

Move attribute to base class
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

Cleanup test
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
Due: none

Add end of supply notification handler
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ChangeOfSupplierProcessManager.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/EndOfSupplyNotification/IEndOfSupplyNotifier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/EndOfSupplyNotification/NotifyCurrentSupplier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/EndOfSupplyNotification/NotifyCurrentSupplierHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/EndOfSupplyNotification/EndOfSupplyNotifier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Process/ChangeOfSupplierProcessManagerTests.cs
Due: unit, integration

Add handler for forwarding consumer details
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ChangeOfSupplierProcessManager.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/ConsumerDetails/ForwardConsumerDetails.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/ConsumerDetails/ForwardConsumerDetailsHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/ConsumerDetails/IConsumerDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/ConsumerDetails/ConsumerDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Process/ChangeOfSupplierProcessManagerTests.cs
Due: unit, integration

Add handler for forwarding metering point details
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ChangeOfSupplierProcessManager.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/MeteringPointDetails/ForwardMeteringPointDetails.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/MeteringPointDetails/ForwardMeteringPointDetailsHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/Commands/MeteringPointDetails/IMeteringPointDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/MeteringPointDetails/MeteringPointDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Process/ChangeOfSupplierProcessManagerTests.cs
Due: unit, integration

Re-organize namespaces
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ChangeOfSupplierProcessManager.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ChangeSupplier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ChangeSupplierHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ConsumerDetails/ConsumerDetailsDispatched.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ConsumerDetails/ForwardConsumerDetails.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ConsumerDetails/ForwardConsumerDetailsHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ConsumerDetails/IConsumerDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/EndOfSupplyNotification/CurrentSupplierNotified.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/EndOfSupplyNotification/IEndOfSupplyNotifier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/EndOfSupplyNotification/NotifyCurrentSupplier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/EndOfSupplyNotification/NotifyCurrentSupplierHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/MeteringPointDetails/ForwardMeteringPointDetails.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/MeteringPointDetails/ForwardMeteringPointDetailsHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/MeteringPointDetails/IMeteringPointDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/MeteringPointDetails/MeteringPointDetailsDispatched.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ProcessManagerRouter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/ConsumerDetails/ConsumerDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/EndOfSupplyNotification/EndOfSupplyNotifier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/MeteringPointDetails/MeteringPointDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Process/ChangeOfSupplierProcessManagerTests.cs
Due: unit, integration

Include future energy supplier id
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/EnergySupplierChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Process/ChangeOfSupplierProcessManagerTests.cs
Due: unit

Add database connection factory
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/IDbConnectionFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/SqlDbConnectionFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Add domain event handler for handling generation and dispatching integration event
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/SqlDbConnectionFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/IntegrationEventDispatching/ChangeOfSupplier/EnergySupplierChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/IntegrationEventDispatching/ChangeOfSupplier/PublishWhenEnergySupplierHasChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/IntegrationEventDispatching/IIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Add input validations for change of supplier
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Validation/RequestChangeOfSupplierRuleSet.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/GlnNumberMustBeValid.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/GsrnNumberMustBeValidRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/StartOfSupplyMustBeValidRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/TranscationMustBeValidRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Energinet.DataHub.MarketRoles.Application.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Validation/RequestChangeOfSupplierRuleSetTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Energinet.DataHub.MarketRoles.Tests.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/SampleData.cs
Due: unit

Add input validation behaviour to business processing pipeline
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/InputValidationBehaviour.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Fix integration test
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/InputValidationBehaviour.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/SampleData.cs
Due: integration

Use Async method
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/InputValidationBehaviour.cs
Due: integration

Update codecov-ci.yml
  .github/workflows/codecov-ci.yml
Due: none

workflow added
  .github/workflows/combine-prs.yml
Due: none

Messaging transport initial commit
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Energinet.DataHub.MarketRoles.Application.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Transport/Channel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Transport/IInboundMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Transport/IOutboundMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Transport/MessageDeserializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Transport/MessageDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Transport/MessageExtractor.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Transport/MessageSerializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/OneOfConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionReceiveProtobuf.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionSendProtobuf.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufInboundMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufInboundMapperFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufInboundMapper`1.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufMessageDeserializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufMessageSerializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufOutboundMapperFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper`1.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufParser.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Send/Dispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Send/InProcessChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Send/TestContract.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Send/TransportTestInboundMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Send/TransportTestOutboundMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Send/TransportTestRecord.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/TransportTests.cs
Due: unit, integration

Now it works
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Send/TransportTestRecord.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/Dispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/InProcessChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/TestContract.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/TransportTestInboundMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/TransportTestOutboundMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/TransportTestRecord.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
Due: none

Like for real
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
Due: none

integration dispatch initial
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/local.settings.sample.json
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/MoveInIntegrationEventContract.proto
Due: integration

Refactor
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Transport/IInboundMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Transport/IOutboundMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Energinet.DataHub.MarketRoles.Application.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Channel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/MessageDeserializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/MessageDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/MessageExtractor.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/MessageSerializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionReceiveProtobuf.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionSendProtobuf.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufInboundMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufInboundMapper`1.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufMessageDeserializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufMessageSerializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufOutboundMapperFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper`1.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/Dispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/InProcessChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/TransportTestInboundMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/TransportTestRecord.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
Due: unit, integration

more
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Integration/IIntegrationEventDispatchOrchestrator.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Channels/ServiceBusChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/MoveInIntegrationEventContract.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Messages/EnergySupplierChangeInitiatedEventMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Messages/EnergySupplierChangedEventMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Services/IntegrationEventDispatchOrchestrator.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Outbox/IOutboxManager.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Outbox/OutboxManager.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Outbox/OutboxMessage.cs
Due: unit, integration

Simple injector added to Outbox
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/ConsumerRegistered.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Energinet.DataHub.MarketRoles.EntryPoints.Outbox.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/RequestHandlers/ConsumerRegisteredDispatch.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/MoveIn/MoveInIntegrationEventContract.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/IntegrationEventDispatching/MoveIn/ConsumerRegisteredIntegrationEvent.cs
Due: unit, integration

Raise domain event when new consumer is registered
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/ConsumerRegistered.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveIn/AcceptTests.cs
Due: unit

Add factory method
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/EnergySuppliers/EnergySupplierId.cs
Due: unit

Add factory method
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/ConsumerId.cs
Due: unit

Fix relationship issue
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/Consumers/ConsumerEntityConfiguration.cs
Due: integration

Add integration event for consumer registration
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/IntegrationEventDispatching/MoveIn/ConsumerRegisteredIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/IntegrationEventDispatching/MoveIn/PublishWhenConsumerIsRegistered.cs
Due: integration
