Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MarketRoles.Application/
      - source/Energinet.DataHub.MarketRoles.Domain/
      - source/Energinet.DataHub.MarketRoles.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MarketRoles.EntryPoints.Common
      - source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion
      - source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox
      - source/Energinet.DataHub.MarketRoles.EntryPoints.Processing
      - source/Energinet.DataHub.MarketRoles.Infrastructure

coverage:
  status:
    project:
      default:
        informational: true
        flags:
          - unit
          - integration
      unit:
        informational: true
        flags:
          - unit
      integration:
        informational: true
        flags:
          - integration

boyscout
  source/Energinet.DataHub.MarketRoles.Infrastructure/Ingestion/Mappers/ChangeOfSupplierMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Ingestion/Mappers/RequestMoveInMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/EnergySupplierChangedIntegrationMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Mappers/RequestMoveInMapper.cs
Due: integration

fix tests
  source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Validation/RequestChangeOfSupplierRuleSetTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/EDI/ChangeOfSupplierCimXml.xml
  source/Energinet.DataHub.MarketRoles.Tests/SampleData.cs
Due: unit

more test fix
  source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Validation/RequestChangeOfSupplierRuleSetTests.cs
Due: unit

update editorconfig and props file
  .editorconfig
  Directory.Build.props
Due: none

fix errors and merge
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplier.cs
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplierHandler.cs
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Validation/RequestChangeOfSupplierRuleSet.cs
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/EnvironmentFilter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/ChangeOfSupplier/RequestChangeOfSupplierApproved.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/ChangeOfSupplier/RequestChangeOfSupplierResultHandler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/Mappings/ChangeOfSupplierXmlMappingConfiguration.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Ingestion/Mappers/ChangeOfSupplierMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChange/EnergySupplierChangedIntegrationMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Mappers/RequestMoveInMapper.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Validation/RequestChangeOfSupplierRuleSetTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/EDI/ChangeOfSupplierCimXml.xml
  source/Energinet.DataHub.MarketRoles.Tests/EDI/XmlConverterTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/SampleData.cs
Due: unit, integration

added mapper in processing for change of supplier
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplier.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Mappers/RequestChangeOfSupplierMapper.cs
Due: unit, integration

update packages
  source/Energinet.DataHub.MarketRoles.Application/Energinet.DataHub.MarketRoles.Application.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Energinet.DataHub.MarketRoles.EntryPoints.Common.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
  source/Energinet.DataHub.MarketRoles.Tests/Energinet.DataHub.MarketRoles.Tests.csproj
Due: unit, integration

use TimerInfo from package
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Dispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Infrastructure/TimerTriggers/ScheduleStatus.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Infrastructure/TimerTriggers/TimerInfo.cs
Due: none

init commit
  build/infrastructure/appi.tf
  build/infrastructure/azfun-ingestion.tf
  build/infrastructure/azfun-internal-command-dispatcher.tf
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/azfun-processing.tf
  build/infrastructure/sb-marketroles.tf
  build/infrastructure/sqlsrv-marketroles.tf
Due: none

Fix integration test
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
Due: none

add SqlServer resource as test class fixture
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Dispatcher.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/Processing/MoveInProcessManagerTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
Due: none

use icollectionfixture
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/DatabaseCollection.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/DatabaseFixture.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/Processing/MoveInProcessManagerTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

Init commit
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorAddProtobufContractsContainerExtensions.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Dispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/OneOfConfiguration.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufInboundMapperFactory.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
Due: integration

Update
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/OneOfConfiguration.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorAddProtobufContractsContainerExtensions.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
Due: integration

Updates
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorAddProtobufContractsContainerExtensions.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
Due: integration

set scoped lifestyle
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorAddProtobufContractsContainerExtensions.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
Due: integration

update error conversions
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Validation/MeteringPointMustBeKnownRuleError.cs
  source/Energinet.DataHub.MarketRoles.Application/Common/Validation/MeteringPointMustBeKnownRule.cs
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/ConnectionStringFactory.cs
  source/Energinet.DataHub.MarketRoles.Domain/Consumers/Rules/CprNumberFormatRule.cs
  source/Energinet.DataHub.MarketRoles.Domain/Consumers/Rules/CprNumberFormatRuleError.cs
  source/Energinet.DataHub.MarketRoles.Domain/Consumers/Rules/CvrNumberFormatRule.cs
  source/Energinet.DataHub.MarketRoles.Domain/Consumers/Rules/CvrNumberFormatRuleError.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/ChangeOfSupplierRegisteredOnSameDateIsNotAllowedRule.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/ChangeOfSupplierRegisteredOnSameDateIsNotAllowedRuleError.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/EffectiveDateCannotBeInThePastRule.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/EffectiveDateCannotBeInThePastRuleError.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/MoveInRegisteredOnSameDateIsNotAllowedRule.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/MoveInRegisteredOnSameDateIsNotAllowedRuleError.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/MoveOutRegisteredOnSameDateIsNotAllowedRuleError.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Dispatcher.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CannotBeInStateOfClosedDownRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ChangeOfSupplierRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CprNumberFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CvrNumberFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/EffectiveDateCannotBeInThePastRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/EnergySupplierMustBeKnownRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GlnNumberMustBeValidRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidDomainErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeEnergySuppliableRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeKnownRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MoveInRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MoveOutRegisteredOnSameDateIsNotAllowedRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/MustHaveEnergySupplierAssociatedRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/ProductionMeteringPointMustBeObligatedRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/SocialSecurityNumberMustBeValidRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/StartOfSupplyMustBeValidRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/TransactionMustBeValidRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/VATNumberMustBeValidRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/ErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/ChangeOfSupplier/AcceptTests.cs
Due: unit, integration

update with API closer to original setup
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionReceiveProtobuf.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionSendProtobuf.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorReceiveProtobufExtensions.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorSendProtobufExtensions.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
Due: integration

move settings from csprojs to common props
  Directory.Build.props
  source/Energinet.DataHub.MarketRoles.Application/Energinet.DataHub.MarketRoles.Application.csproj
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketRoles.Domain/Energinet.DataHub.MarketRoles.Domain.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Energinet.DataHub.MarketRoles.EntryPoints.Common.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Dispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Energinet.DataHub.MarketRoles.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Energinet.DataHub.MarketRoles.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
  source/Energinet.DataHub.MarketRoles.Tests/Energinet.DataHub.MarketRoles.Tests.csproj
Due: unit, integration

fix typo
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Transaction.cs
Due: unit

fix warnings
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/Processing/MoveInProcessManagerTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/InProcessChannel.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/TransportTestInboundMapper.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TestImplementations/TransportTestOutboundMapper.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Process/ChangeOfSupplierProcessManagerTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Validation/RequestChangeOfSupplierRuleSetTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Application/MoveIn/Validation/RequestMoveInRuleSetTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Domain/Consumers/ConsumerTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/ChangeOfSupplier/CancellationTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/ChangeOfSupplier/EffectuateTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveIn/AcceptTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveIn/EffectuateTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/EDI/XmlConverterTests.cs
Due: unit

fix merge error
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
Due: integration

Topic variable update
  build/infrastructure/azfun-outbox.tf
Due: none

Added ExternalAnnotations
  source/ExternalAnnotations/FluentValidation.xml
  source/ExternalAnnotations/MediatR.xml
Due: none

Added missing settings to local settings sample for Outbox
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/local.settings.sample.json
Due: integration

Bugfix: ProcessedDate was not set for InternalCommand when actually processed
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ChangeSupplier.cs
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ConsumerDetails/ForwardConsumerDetails.cs
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/EndOfSupplyNotification/NotifyCurrentSupplier.cs
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/MeteringPointDetails/ForwardMeteringPointDetails.cs
  source/Energinet.DataHub.MarketRoles.Application/Common/Commands/InternalCommand.cs
  source/Energinet.DataHub.MarketRoles.Application/MoveIn/Processing/EffectuateConsumerMoveIn.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Energinet.DataHub.MarketRoles.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ChangeSupplierInbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ChangeSupplierOutbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ForwardConsumerDetailsInbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ForwardConsumerDetailsOutbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ForwardMeteringPointDetailsInbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ForwardMeteringPointDetailsOutbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/NotifyCurrentSupplierInbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/NotifyCurrentSupplierOutbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/MoveIn/EffectuateConsumerMoveInInbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/MoveIn/EffectuateConsumerMoveInOutbound.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
Due: unit, integration

Updates infrastrucvture-cd
  .github/actions/marketroles-apply-database-migrations/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

Make use of Temporary Post Office like in Metering Point Domain
  build/infrastructure/stor-postoffice.tf
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/ActorMessageDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/ActorMessages/PostOfficeDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/IOutboxMessageDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/IntegrationEventDispatchers/EnergySupplierChangedDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/OutboxWatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MarketRoles.Infrastructure/Correlation/TraceContext.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/ChangeOfSupplier/RequestChangeOfSupplierResultHandler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Outbox/IOutboxManager.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Outbox/OutboxManager.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/PostOffice/IPostOfficeStorageClient.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/PostOffice/TempPostOfficeStorageClient.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Refactor: Move protobuf contracts and mappers for business process requests to BusinessRequestProcessing namespace to improve overview and maintainability
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/RequestChangeOfSupplierMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/RequestMoveInMapper.cs
Due: integration

Add incoming message registry
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202105051000 Initial Market Roles DB.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202108171123 Add IncomingMessages.sql
  source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/MarketRolesContext.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Messaging/Idempotency/IIncomingMessageRegistry.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Messaging/Idempotency/IncomingMessage.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Messaging/Idempotency/IncomingMessageEntityConfiguration.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Messaging/Idempotency/IncomingMessageRegistry.cs
Due: integration

Register with DI
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
Due: integration

Add middleware
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/ServiceBusMessageIdempotencyMiddleware.cs
Due: integration

Change to embedded resource
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
Due: none

Revert "Align infrastructure-cd to match Metering Points"
  .github/actions/marketroles-apply-database-migrations/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

init commit
  .github/actions/delete-terraform-state/action.yml
  .github/actions/terraform-cd/action.yml
  .github/workflows/infrastructure-ci-destroy.yml
  .github/workflows/infrastructure-ci.yml
Due: none

.
  .github/workflows/infrastructure-cd.yml
Due: none

Add missing appsettings for temporary Post Office
  build/infrastructure/azfun-outbox.tf
Due: none

Update
  .github/workflows/infrastructure-cd.yml
Due: none
