Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

- make sb use newest tf module - fix tf error found when running validate
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/sb-integration-event-shared.tf
  build/infrastructure/main/sb-marketroles.tf
  build/infrastructure/main/stor-postoffice.tf
Due: none

- add ci and cd workflows - add publish-release-contents action - remove unncessary actions, templates, utilities and workflows
  .github/actions/apply-database-migrations/action.yml
  .github/actions/azure-cli-install-login/action.yml
  .github/actions/azure-core-tools-install/action.yml
  .github/actions/configure-terraform-backend/action.yml
  .github/actions/delete-terraform-state/action.yml
  .github/actions/dotnet-build-and-test/action.yml
  .github/actions/publish-release-contents/action.yml
  .github/actions/terraform-cd/action.yml
  .github/templates/azure-function-cd-template.yml
  .github/templates/azure-function-ci-template.yml
  .github/utilities/md-linkcheck/mlc_config.json
  .github/utilities/md-spellcheck/spellcheck.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codecov-ci.yml
  .github/workflows/combine-prs.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/infrastructure-ci-destroy.yml
  .github/workflows/infrastructure-ci.yml
  .github/workflows/ingestion-cd.yml
  .github/workflows/ingestion-ci.yml
  .github/workflows/integration-test-ci.yml
  .github/workflows/internal-command-dispatcher-cd.yml
  .github/workflows/internal-command-dispatcher-ci.yml
  .github/workflows/license-check-ci.yml
  .github/workflows/md-check.yml
  .github/workflows/outbox-cd.yml
  .github/workflows/outbox-ci.yml
  .github/workflows/processing-cd.yml
  .github/workflows/processing-ci.yml
  build/infrastructure/main/providers.tf
Due: none

add own branch to triggers on ci workflow
  .github/workflows/ci.yml
Due: none

fix indentations
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
Due: none

change naming in various places to match best practice
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-sharedresources.tf
  build/infrastructure/main/resource-groups.tf
  build/infrastructure/main/sb-integration-event-shared.tf
  build/infrastructure/main/sqldb-this.tf
  build/infrastructure/main/st-postoffice.tf
  build/infrastructure/main/variables.tf
Due: none

Create accounting Point When consuming production metering point created event
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/ProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/ProductionMeteringPointCreatedHandler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/ConsumptionMeteringPoint/ConsumptionMeteringPointCreatedNotificationExtension.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/ProductionMeteringPoint/ProductionMeteringPointCreatedInboundMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/ProductionMeteringPoint/ProductionMeteringPointCreatedNotificationExtension.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/ProductionMeteringPoint/ProductionMeteringPointgCreated.proto
Due: unit, integration

fixes to iac
  .github/actions/publish-release-contents/action.yml
  .github/workflows/cd.yml
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/plan-shared.tf
  build/infrastructure/main/resource-groups.tf
  build/infrastructure/main/sb-integration-event-shared.tf
  build/infrastructure/main/sb-marketroles.tf
  build/infrastructure/main/sqldb-this.tf
  build/infrastructure/main/st-postoffice.tf
  build/infrastructure/main/variables.tf
Due: none

replace project with domain name
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/plan-shared.tf
  build/infrastructure/main/sb-marketroles.tf
  build/infrastructure/main/sqldb-this.tf
  build/infrastructure/main/st-postoffice.tf
  build/infrastructure/main/variables.tf
Due: none

remove unused variable
  .github/workflows/cd.yml
  build/infrastructure/main/variables.tf
Due: none

init
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/MeteringPointConnected/MeteringPointConnected.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/MeteringPointConnected/MeteringPointConnectedInboundMapper.cs
Due: integration

Connect AccountingPoint
  source/Energinet.DataHub.MarketRoles.Application/Connected/MeteringPointConnected.cs
  source/Energinet.DataHub.MarketRoles.Application/Connected/MeteringPointConnectedHandler.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/MeteringPointConnected/MeteringPointConnectedInboundMapper.cs
Due: unit, integration

Set Connected status
  source/Energinet.DataHub.MarketRoles.Application/Connected/MeteringPointConnectedHandler.cs
Due: unit

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update cd.yml
  .github/workflows/cd.yml
Due: none

Change metering type to Production on accounting point when prod mp created event is consumed
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/ProductionMeteringPoint/ProductionMeteringPointCreatedInboundMapper.cs
Due: integration

update telemetry for handlers
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Telemetry/EntryPointTelemetryScopeMiddleware.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Telemetry/NotificationHandlerTelemetryDecorator.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Telemetry/RequestHandlerTelemetryBehavior.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Add event to OutboxTypeFactory
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
Due: integration

Update Metadata property names to adher to ADR-008
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/ServiceBusMessageExtension.cs
Due: integration

update codeowners
  .github/CODEOWNERS
Due: none

Add empty notification handler so event reciever doesn't break
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/MeteringPointCreated.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/MeteringPointCreatedHandler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/MeteringPointCreated/MeteringPointCreated.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/MeteringPointCreated/MeteringPointCreatedInboundMapper.cs
Due: unit, integration

Update meteringpointcreated record
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/MeteringPointCreated.cs
Due: unit

implement converter
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/MeteringPointCreated/MeteringPointCreatedInboundMapper.cs
Due: integration

License update and remove dead link
  README.md
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/MeteringPointCreated.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/MeteringPointCreatedHandler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/MeteringPointCreated/MeteringPointCreatedInboundMapper.cs
Due: unit, integration

outcomment dead link
  docs/test.md
Due: none

Update CI Base
  .github/workflows/ci.yml
Due: none

change sql to mssql tf module
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/mssqldb-this.tf
  build/infrastructure/main/outputs.tf
Due: none

indentation + do not change pointers new db yet
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/locals.tf
Due: none

fix tf validation error
  build/infrastructure/main/mssqldb-this.tf
Due: none

remove existing db and move pointers
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/sqldb-this.tf
Due: none

What: Empty line
  build/infrastructure/main/variables.tf
Due: none

What: Subnets
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/subnets.tf
Due: none

What: VNet + functions
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/subnets.tf
Due: none

What: Providers
  build/infrastructure/main/providers.tf
Due: none

What: Service Bus + VNet
  build/infrastructure/main/sb-marketroles.tf
Due: none

What: Use file
  build/infrastructure/main/st-postoffice.tf
Due: none

What: Use 6.0.0-storage-account module
  build/infrastructure/main/st-postoffice.tf
Due: none

What: TF 1.1.2
  .github/workflows/ci.yml
Due: none

What> Remove branch trigger
  .github/workflows/ci.yml
Due: none

What: Subnet module name changed
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/sb-marketroles.tf
  build/infrastructure/main/subnets.tf
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MarketRoles.Application/, source/Energinet.DataHub.MarketRoles.Domain/, source/Energinet.DataHub.MarketRoles.Tests/
  integration: any of: source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion, source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox, source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/Energinet.DataHub.MarketRoles.Infrastructure
