Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, integrationevents

licenses
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
Due: integrationevents

Moved postalcode from TownDetail to Address to match XSD definition
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/Address.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/TownDetail.cs
Due: none

extend acceptedByBusiness
  source/Messaging.Application/Transactions/MoveIn/MoveInRequestHandler.cs
  source/Messaging.Domain/Transactions/MoveIn/Events/MoveInWasAccepted.cs
  source/Messaging.Domain/Transactions/MoveIn/MoveInTransaction.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/CompleteMoveInTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/SampleData.cs
  source/Messaging.Tests/Transactions/MoveIn/MoveInTransactionTests.cs
Due: integration

new test file
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/CompleteMoveInTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/FetchMeteringPointMasterDataTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/SampleData.cs
Due: integration

Expand objects
  source/Messaging.Application/Transactions/MoveIn/FetchMeteringPointMasterData.cs
  source/Messaging.Application/Transactions/MoveIn/FetchMeteringPointMasterDataWhenAccepted.cs
  source/Messaging.Domain/Transactions/MoveIn/Events/MoveInWasAccepted.cs
  source/Messaging.Domain/Transactions/MoveIn/MoveInTransaction.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/FetchMeteringPointMasterDataTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
Due: integration

rename
  source/Messaging.Application/Transactions/MoveIn/FetchMeteringPointMasterData.cs
Due: none

Added test to verify AccountingPointCharacteristicsDocumentWriter generates valid document
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/Address.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/ChildEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/MarketEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/Mrid.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/ParentEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/Series.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/StreetDetail.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/TownDetail.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/UnitValue.cs
  source/Messaging.Tests/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/AccountingPointCharacteristics/SampleData.cs
Due: none

Generalised child/parent marketevaluationpoint writer
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/ChildEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/MarketEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/RelatedMarketEvaluationPoint.cs
  source/Messaging.Tests/OutgoingMessages/AccountingPointCharacteristics/SampleData.cs
Due: none

logging upgrade request responsed
  source/Messaging.Api/Messaging.Api.csproj
  source/Messaging.Infrastructure/Messaging.Infrastructure.csproj
Due: integration

Request Metering Point Master data
  source/Messaging.Application/Transactions/MoveIn/FetchMeteringPointMasterDataHandler.cs
  source/Messaging.Application/Transactions/MoveIn/IMeteringPointMasterDataService.cs
  source/Messaging.Infrastructure/Messaging.Infrastructure.csproj
  source/Messaging.Infrastructure/Transactions/MoveIn/RequestMeteringPointMasterData.cs
  source/Messaging.Infrastructure/Transactions/MoveIn/RequestMeteringPointMasterDataDispatcher.cs
Due: integration

Remove project reference
  source/Energinet.DataHub.MarketRoles.sln
Due: none

Changes for implementing json schema provider
  source/Messaging.Api/IncomingMessages/RequestChangeOfSupplierMessageReceiver.cs
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/SchemaStore/CimJsonSchemas.cs
  source/Messaging.Application/SchemaStore/CimXmlSchemas.cs
  source/Messaging.Application/SchemaStore/ISchema.cs
  source/Messaging.Application/SchemaStore/ISchemaProvider.cs
  source/Messaging.Application/SchemaStore/SchemaBase.cs
  source/Messaging.Application/SchemaStore/SchemaProvider.cs
  source/Messaging.Application/SchemaStore/SchemaProviderFactory.cs
  source/Messaging.Application/SchemaStore/Schemas/Xml/urn-ediel-org-structure-confirmrequestchangeofsupplier-0-1.xsd
  source/Messaging.Application/SchemaStore/Schemas/Xml/urn-ediel-org-structure-genericnotification-0-1.xsd
  source/Messaging.Application/SchemaStore/Schemas/Xml/urn-ediel-org-structure-rejectrequestchangeofsupplier-0-1.xsd
  source/Messaging.Application/SchemaStore/Schemas/Xml/urn-ediel-org-structure-requestchangeofsupplier-0-1.xsd
  source/Messaging.Application/SchemaStore/Schemas/Xml/urn-entsoe-eu-local-extension-types.xsd
  source/Messaging.Application/SchemaStore/Schemas/Xml/urn-entsoe-eu-wgedi-codelists.xsd
  source/Messaging.CimMessageAdapter/MessageReceiver.cs
  source/Messaging.CimMessageAdapter/Messages/MessageParser.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
  source/Messaging.IntegrationTests/CimMessageAdapter/MessageReceiverTests.cs
  source/Messaging.Tests/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: integration

Cleanup naming
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/MarketEvaluationPoint.cs
Due: none

Added license lines to autogenerated files
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
Due: integrationevents

Added extra empty line
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
Due: integrationevents

Change tests
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/SchemaStore/CimJsonSchemas.cs
  source/Messaging.Application/SchemaStore/CimXmlSchemas.cs
  source/Messaging.Application/SchemaStore/SchemaBase.cs
  source/Messaging.Application/SchemaStore/Schemas/Json/Request-Change-of-Supplier-assembly-model.schema.json
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
Due: integration

Pseudo test
  source/Messaging.Tests/SchemaProviderTests.cs
Due: none

DI added - missing correct SB sender
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
Due: integration

Utilize existing build output
  .github/actions/dotnet-prepare-outputs/action.yml
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
Due: none

Remove references
  .github/workflows/ci.yml
Due: none

Bump versions
  .github/workflows/ci.yml
Due: none

Use OIDC
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Updated needs
  .github/workflows/ci.yml
Due: none

Consolidated seed scripts
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202205241100 Consolidated dbo model.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202109301255 Insert AccountPoints.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202109301258 Insert EnergySuppliers.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202202091335 Updates from actor registry.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202203301046 Updates from actor registry.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202205161425 Updates from actor registry.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202206281100 Seed cleanup.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202206281101 Insert Reasons.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202206281102 Insert AccountPoints.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202250120911 Insert Reasons.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202250170905 Add error code and text for invalid effective date.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202250171432 Add error code and text for invalid effective date time of day.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202250181111 Insert reasons in ReasonTranslations.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202250181248 Add reason translations.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202250190741 Updates from actor registry.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202250201055 Add gsrn reason translations.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202250311000 Updates from actor registry.sql
Due: none

Try v7.7.0 of workflow to get retry on SQL install
  .github/workflows/ci.yml
Due: none

Uae workflows from v7.7.0
  .github/workflows/cd.yml
Due: none

DI added
  source/Messaging.Api/Program.cs
  source/Messaging.Api/RuntimeEnvironment.cs
  source/Messaging.Api/local.settings.sample.json
  source/Messaging.ArchitectureTests/CompositionRootTests.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/Messaging.Infrastructure.csproj
  source/Messaging.Infrastructure/Transactions/MoveIn/IConfig.cs
  source/Messaging.Infrastructure/Transactions/MoveIn/RequestMasterDataConfiguration.cs
  source/Messaging.Infrastructure/Transactions/MoveIn/RequestMeteringPointMasterDataDispatcher.cs
Due: integration

GO back to use 7.6.0 (tag)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

TF updated
  build/infrastructure/main/func-api.tf
Due: none

added queue name correctly
  build/infrastructure/main/func-api.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Update name
  source/Messaging.Api/Program.cs
Due: none

Update comments
  source/Messaging.Infrastructure/Transactions/MoveIn/IConfig.cs
Due: integration

Update IConfig
  source/Messaging.Infrastructure/Transactions/MoveIn/IConfig.cs
Due: integration

Update Iconfig
  source/Messaging.Infrastructure/Transactions/MoveIn/IConfig.cs
Due: integration

Updated scripts to use create table statements from SQL Server Management Studio instead of Rider
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202205241100 Consolidated dbo model.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202205241101 Consolidated BtwoB model.sql
Due: none

Added creation of b2b schema
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202205241101 Consolidated BtwoB model.sql
Due: none

New implementation of schema provider
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/SchemaStore/CimJsonSchemas.cs
  source/Messaging.Application/SchemaStore/CimXmlSchemas.cs
  source/Messaging.Application/SchemaStore/ISchemaProvider.cs
  source/Messaging.Application/SchemaStore/JsonSchemaProvider.cs
  source/Messaging.Application/SchemaStore/SchemaBase.cs
  source/Messaging.Application/SchemaStore/SchemaProvider.cs
  source/Messaging.Application/SchemaStore/SchemaProviderFactory.cs
  source/Messaging.Application/SchemaStore/XmlSchemaProvider.cs
  source/Messaging.CimMessageAdapter/Messages/MessageParser.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
  source/Messaging.IntegrationTests/CimMessageAdapter/MessageReceiverTests.cs
  source/Messaging.Tests/Messaging.Tests.csproj
  source/Messaging.Tests/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/SchemaProviderTests.cs
Due: integration

Make tests work
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/SchemaStore/JsonSchemaProvider.cs
  source/Messaging.Application/SchemaStore/SchemaProvider.cs
  source/Messaging.Application/SchemaStore/SchemaProviderFactory.cs
  source/Messaging.Application/SchemaStore/Schemas/Json/urn-entsoe-eu-local-extension-types.schema.json
  source/Messaging.Application/SchemaStore/Schemas/Json/urn-entsoe-eu-wgedi-codelists.schema.json
  source/Messaging.CimMessageAdapter/MessageReceiver.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.IntegrationTests/CimMessageAdapter/MessageReceiverTests.cs
  source/Messaging.Tests/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/SchemaProviderTests.cs
Due: integration

Forgot license
  source/Messaging.Tests/SchemaProviderTests.cs
Due: none

Path conditions:
  unit: any of: source/Messagging.Application/, source/Messagging.Tests/, source/Processing.Application/, source/Processing.Domain/, source/Processing.Tests/
  integration: any of: source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/Processing.Infrastructure, source/Messaging.Infrastructure, source/Messaging.IntegrationTests, source/Processing.IntegrationTests
  integrationevents: any of: source/IntegrationEvents/
