Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Restructure
  build/infrastructure/main/appi.tf
  build/infrastructure/main/azfun-ingestion.tf
  build/infrastructure/main/azfun-internal-command-dispatcher.tf
  build/infrastructure/main/azfun-outbox.tf
  build/infrastructure/main/azfun-processing.tf
  build/infrastructure/main/backend.tf
  build/infrastructure/main/kv-sharedresources.tf
  build/infrastructure/main/localhost.tfvars.sample
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/resource-group.tf
  build/infrastructure/main/sb-integration-event-shared.tf
  build/infrastructure/main/sb-marketroles.tf
  build/infrastructure/main/sqlsrv-marketroles.tf
  build/infrastructure/main/stor-postoffice.tf
  build/infrastructure/main/variables.tf
Due: none

update
  .github/workflows/infrastructure-cd.yml
Due: none

Add main
  .github/workflows/infrastructure-cd.yml
Due: none

req version updated
  build/infrastructure/main/providers.tf
Due: none

Clean up
  build/infrastructure/main/sb-integration-event-shared.tf
  build/infrastructure/main/variables.tf
Due: none

.
  .github/actions/terraform-cd/action.yml
Due: none

update
  .github/actions/terraform-cd/action.yml
Due: none

Branch trigger removed
  .github/workflows/infrastructure-ci.yml
Due: none

Update settings samples
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/local.settings.sample.json
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/local.settings.sample.json
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Energinet.DataHub.MarketRoles.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/local.settings.sample.json
Due: integration

XmlConverter should return null if parent element for optional field does not exist
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/XmlConverter/XmlMapper.cs
Due: integration

Expand Rule
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/MoveInRegisteredOnSameDateIsNotAllowedRule.cs
Due: unit

Effectuate move in
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/ConsumerRegistration.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/ConsumerMovedIn.cs
  source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveIn/EffectuateTests.cs
Due: unit

Changed extension name from .json to .xml in TempPostOffice
  source/Energinet.DataHub.MarketRoles.Infrastructure/PostOffice/TempPostOfficeStorageClient.cs
Due: integration

remove peter-evans action
  .github/workflows/ingestion-cd.yml
  .github/workflows/internal-command-dispatcher-cd.yml
  .github/workflows/outbox-cd.yml
  .github/workflows/processing-cd.yml
Due: none

add outbox test methods
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

test: move in on top of move in
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
Due: none

fix: add business rule check
  source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveInHandler.cs
Due: unit

refactor: clean up outbox asserts
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

fix: move in integration test
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/MoveInRegisteredOnSameDateIsNotAllowedRule.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveIn/AcceptTests.cs
Due: unit

Bugfix: Energy Supplier is allowed to change himself while he's already a supplier
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/CannotBeCurrentSupplierRule.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/CannotBeCurrentSupplierRuleError.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CannotBeCurrentSupplierRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: unit, integration

warning be gone
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/DatabaseFixture.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
Due: none

fix public ctor
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
Due: none

add ci
  .github/workflows/integration-test-ci.yml
Due: none

Update source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CannotBeCurrentSupplierRuleErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/CannotBeCurrentSupplierRuleErrorConverter.cs
Due: integration

rene says impl
  .github/workflows/integration-test-ci.yml
Due: none

fix uppercase
  .github/workflows/integration-test-ci.yml
Due: none

update ci
  .github/workflows/integration-test-ci.yml
Due: none

remove coverlet output
  .github/workflows/integration-test-ci.yml
Due: none

add dotnet 3
  .github/workflows/integration-test-ci.yml
Due: none

fail on purpose
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
Due: none

fix on purpose error
  .github/workflows/integration-test-ci.yml
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
Due: none

add workflow file to paths in workflow
  .github/workflows/integration-test-ci.yml
Due: none

Add logic to GLN Value Object including tests
  source/Energinet.DataHub.MarketRoles.Application/Common/Validation/GsrnNumberMustBeValidRule.cs
  source/Energinet.DataHub.MarketRoles.Domain/EnergySuppliers/GlnNumber.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/InvalidSupplierIdRuleException.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/GlnNumberMustBeValidRule.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/GlnNumberMustBeValidRuleError.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Errors/Converters/GlnNumberMustBeValidDomainErrorConverter.cs
  source/Energinet.DataHub.MarketRoles.Tests/Domain/GlnNumbers/GlnNumberTests.cs
Due: unit, integration

refactor: clean up
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/Processing/MoveInProcessManagerTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

Corrected typos
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/GlnNumberMustBeValidRule.cs
Due: unit

fix: move in date is saved
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/ConsumerRegistration.cs
Due: unit

allow local db in tests
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/DatabaseFixture.cs
Due: none

rename method
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/ConsumerRegistration.cs
Due: unit

fix: test in release mode
  .github/workflows/integration-test-ci.yml
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/DatabaseFixture.cs
Due: none

Change to on push
  .github/workflows/infrastructure-cd.yml
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MarketRoles.Application/, source/Energinet.DataHub.MarketRoles.Domain/, source/Energinet.DataHub.MarketRoles.Tests/
  integration: any of: source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion, source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox, source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/Energinet.DataHub.MarketRoles.Infrastructure
