Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, integrationevents

Assert message id
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Assert reason code
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Assert receiver id
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Assert receiver role
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Assert sender
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Assert market activity records
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Cannot create message from a bundle that does not contain any messages
  source/Messaging.Domain/OutgoingMessages/NoMessagesInBundleException.cs
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Move to domain layer
  source/Messaging.Application/OutgoingMessages/IOutgoingMessageStore.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
  source/Messaging.Application/Transactions/MoveIn/MoveInNotifications.cs
  source/Messaging.Application/Transactions/MoveIn/MoveInRequestHandler.cs
  source/Messaging.Domain/OutgoingMessages/OutgoingMessage.cs
  source/Messaging.Infrastructure/Configuration/DataAccess/B2BContext.cs
  source/Messaging.Infrastructure/Configuration/DataAccess/Outgoing/OutgoingMessageEntityConfiguration.cs
  source/Messaging.Infrastructure/OutgoingMessages/INewMessageAvailableNotifier.cs
  source/Messaging.Infrastructure/OutgoingMessages/MessageAvailabilityPublisher.cs
  source/Messaging.Infrastructure/OutgoingMessages/NewMessageAvailableNotifier.cs
  source/Messaging.Infrastructure/OutgoingMessages/OutgoingMessageStore.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
  source/Messaging.IntegrationTests/Infrastructure/OutgoingMessages/MessageAvailabilityPublisherTests.cs
  source/Messaging.IntegrationTests/TestDoubles/NewMessageAvailableNotifierSpy.cs
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: integration

Move to a new home
  source/Messaging.Domain/OutgoingMessages/CimMessage.cs
Due: none

Move to domain layer
  source/Messaging.Domain/OutgoingMessages/ReceiverIdsDoesNotMatchException.cs
Due: none

Move to domain layer
  source/Messaging.Domain/OutgoingMessages/Bundle.cs
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Remove obsolete test
  source/Messaging.IntegrationTests/Application/OutgoingMessages/MessageRequestTests.cs
Due: integration

Remove obsolete method
  source/Messaging.IntegrationTests/Application/OutgoingMessages/MessageRequestTests.cs
Due: integration

Refactor to use bundle object
  source/Messaging.Application/OutgoingMessages/MessageRequestHandler.cs
  source/Messaging.Application/OutgoingMessages/OutgoingMessageNotFoundException.cs
Due: none

Create message from Cim message
  source/Messaging.Application/OutgoingMessages/MessageFactory.cs
Due: none

Extract method
  source/Messaging.Application/OutgoingMessages/MessageRequestHandler.cs
Due: none

Rename handler
  source/Messaging.Api/OutgoingMessages/MessageRequestQueueListener.cs
  source/Messaging.Application/OutgoingMessages/RequestMessagesHandler.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.IntegrationTests/Application/OutgoingMessages/MessageRequestTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
Due: integration

Refactor message request handler to use MediatR
  source/Messaging.Api/OutgoingMessages/MessageRequestQueueListener.cs
  source/Messaging.Application/OutgoingMessages/RequestMessages.cs
  source/Messaging.Application/OutgoingMessages/RequestMessagesHandler.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.IntegrationTests/Application/OutgoingMessages/MessageRequestTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
Due: integration

Rename
  source/Messaging.IntegrationTests/Application/OutgoingMessages/RequestMessagesTests.cs
Due: integration

Remove UoW reference
  source/Messaging.Application/OutgoingMessages/RequestMessagesHandler.cs
Due: none

Throw if a request message does not exist
  source/Messaging.Application/OutgoingMessages/RequestMessagesHandler.cs
  source/Messaging.IntegrationTests/Application/OutgoingMessages/RequestMessagesTests.cs
Due: integration

Remove result assertion
  source/Messaging.IntegrationTests/Application/OutgoingMessages/RequestMessagesTests.cs
Due: integration

Remove result object since it is not actively used
  source/Messaging.Application/OutgoingMessages/RequestMessages.cs
  source/Messaging.Application/OutgoingMessages/RequestMessagesHandler.cs
  source/Messaging.Application/OutgoingMessages/Result.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.IntegrationTests/Application/OutgoingMessages/RequestMessagesTests.cs
Due: integration

Remove dach as code owner
  .github/CODEOWNERS
Due: none

Move proto files to nuget package project
  source/IntegrationEvents/documents/release-notes/release-notes.md
  source/IntegrationEvents/source/IntegrationEvents/AssemblyInfo.cs
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.proto
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.proto
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.proto
  source/IntegrationEvents/source/IntegrationEvents/IntegrationEvents.csproj
Due: integrationevents

Fix spell error
  source/IntegrationEvents/documents/release-notes/release-notes.md
Due: integrationevents

Add schema
  source/Messaging.Application/SchemaStore/Schemas/Xml/urn-ediel-org-structure-characteristicsofacustomeratanap-0-1.xsd
Due: none

Add last properties
  source/Messaging.Api/IncomingMessages/MeteringPointMasterDataResponseListener.cs
  source/Messaging.Application/MasterData/MasterDataContent.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
  source/Messaging.Infrastructure/Messaging.Infrastructure.csproj
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardMeteringPointMasterDataTests.cs
Due: integration

remove nullable
  source/Messaging.Application/MasterData/MasterDataContent.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
Due: none

Add document writer for customer master data message
  source/Messaging.Application/Common/DocumentWriter.cs
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/CharacteristicsOfACustomerAtAnAPDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/Extensions.cs
  source/Messaging.Application/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/MarketActivityRecord.cs
  source/Messaging.Tests/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/CharacteristicsOfACustomerAtAnAPDocumentWriterTests.cs
Due: none

Pull up method
  source/Messaging.Application/Common/DocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/CharacteristicsOfACustomerAtAnAPDocumentWriter.cs
Due: none

Use method in base
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
Due: none

Add assert helper
  source/Messaging.Tests/OutgoingMessages/AssertXmlDocument.cs
  source/Messaging.Tests/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/CharacteristicsOfACustomerAtAnAPDocumentWriterTests.cs
Due: none

change id
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
Due: none

clean up
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
Due: none

Explicitly assert document type code
  source/Messaging.Tests/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
Due: none

Explicitly assert document type code
  source/Messaging.Tests/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: none

Explicitly assert document type code
  source/Messaging.Tests/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
Due: none

Add document type code to document details
  source/Messaging.Application/Common/DocumentDetails.cs
  source/Messaging.Application/Common/HeaderWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/GenericNotification/GenericNotificationDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriter.cs
  source/Messaging.Tests/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/Asserts/AssertXmlMessage.cs
Due: none

Path conditions:
  unit: any of: source/Messagging.Application/, source/Messagging.Tests/, source/Processing.Application/, source/Processing.Domain/, source/Processing.Tests/
  integration: any of: source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/Processing.Infrastructure, source/Messaging.Infrastructure, source/Messaging.IntegrationTests, source/Processing.IntegrationTests
  integrationevents: any of: source/IntegrationEvents/
