Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/
  integration:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure

coverage:
  status:
    project:
      default:
        informational: true
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

outbox program updated
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
Due: integration

null check on Topic
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
Due: integration

add composition root
  build/infrastructure/azfun-processing.tf
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Energinet.DataHub.MarketRoles.EntryPoints.Processing.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/ServiceBusCorrelationIdMiddleware.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/ServiceBusUserContextMiddleware.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/SqlDbConnectionFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Ingestion/ProcessingServiceBusChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Mappers/RequestMoveInMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Users/UserIdentityExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Users/UserIdentityFactory.cs
Due: integration

fix nits
  docs/contracts.md
Due: none

fix terraform
  build/infrastructure/locals.tf
  build/infrastructure/sqlsrv-marketroles.tf
Due: none

add sharedresources
  build/infrastructure/kv-sharedresources.tf
Due: none

add sharedresources
  build/infrastructure/azfun-processing.tf
Due: none

fix terraform
  build/infrastructure/variables.tf
Due: none

fix terraform
  build/infrastructure/azfun-processing.tf
Due: none

fix terraform
  build/infrastructure/resource-group.tf
Due: none

Registering protobuf contracts
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Energinet.DataHub.MarketRoles.EntryPoints.Common.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/RegisterProtobuf.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorAddProtoBufContractsContainerExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Handlers/ConsumerMovedInEventHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/MoveIn/MoveInIntegrationEventContract.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/Channels/NullChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/Mappers/ConsumerMovedInMessageMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/Messages/ConsumerMovedInIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/PublishWhenConsumerHasMovedIn.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/AzureFunctionHostConfigurationTests.cs
Due: integration

More simple injector
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorAddProtoBufContractsContainerExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/Mappers/ConsumerMovedInIntegrationMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufOutboundMapperFactory.cs
Due: integration

Energysupplierchanged event
  build/infrastructure/sb-integration-event-shared.tf
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/RegisterProtobuf.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Handlers/EnergySupplierChangedEventHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/ChangeOfSupplier/Mappers/EnergySupplierChangedIntegrationMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/EnergySupplierChangedTopic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/AzureFunctionHostConfigurationTests.cs
Due: integration

minor change
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
Due: integration

fix bug introduced in @d8b8e296d6ad231bd6ee1cd25aeb05f929cfdf7c
  .github/workflows/infrastructure-cd.yml
Due: none

include db migrations
  .github/workflows/infrastructure-cd.yml
Due: none

fix terraform
  build/infrastructure/keyvault.tf
Due: none

fix terraform
  .github/workflows/infrastructure-cd.yml
Due: none

fix terraform
  .github/actions/apply-database-migrations/action.yml
Due: none

fix terraform
  .github/workflows/infrastructure-cd.yml
  build/infrastructure/outputs.tf
Due: none

go fish
  .github/workflows/infrastructure-cd.yml
Due: none

removed customer moved in event
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/sb-integration-event-shared.tf
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorAddProtoBufContractsContainerExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventHandlers/EnergySupplierChangedHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventHandlers/EventHandlerBase.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Handlers/ConsumerMovedInEventHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/MoveIn/MoveInIntegrationEventContract.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/ChangeOfSupplier/EnergySupplierChangedTopic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/EnergySupplierChangedTopic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/Mappers/ConsumerMovedInIntegrationMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/PublishWhenConsumerHasMovedIn.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
Due: integration

integration event handler abstraction
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventHandlers/EnergySupplierChangedHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventHandlers/EventHandlerBase.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventHandlers/IntegrationEventHandler.cs
Due: integration

clean up
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorAddProtobufContractsContainerExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/Messages/ConsumerMovedInIntegrationEvent.cs
Due: integration

CleanUp
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventHandlers/EnergySupplierChangedDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/EventHandlers/IntegrationEventDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
Due: integration

disable db migrations
  .github/workflows/infrastructure-cd.yml
Due: none

doing janitor work
  .github/workflows/infrastructure-cd.yml
Due: none

nits
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorAddProtobufContractsContainerExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
Due: integration

make processing runable
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Energinet.DataHub.MarketRoles.EntryPoints.Processing.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/QueueSubscriber.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/local.settings.sample.json
Due: integration

Change serialization/encoding to Protobuf, since internal commands will be dispatches to external queue
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ProcessManagerRouter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Commands/InternalCommand.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/CommandScheduler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ChangeSupplierInbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ChangeSupplierOutbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ForwardConsumerDetailsInbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ForwardConsumerDetailsOutbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ForwardMeteringPointDetailsInbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/ForwardMeteringPointDetailsOutbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/NotifyCurrentSupplierInbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/ChangeOfSupplier/NotifyCurrentSupplierOutbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Contracts/Contract.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: unit, integration

Add missing guard
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
Due: integration

Change data type to support protobuf encoding
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202105051000 Initial Market Roles DB.sql
Due: none

Add service for retrieving queued internal commands from data store
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202105051000 Initial Market Roles DB.sql
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/IInternalCommandAccessor.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/InternalCommandAccessor.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Add service for dispatching internal commands to Azure Service Bus queue
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/DispatchResult.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/IInternalCommandDispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/InternalCommandServiceBusDispatcher.cs
Due: integration
