Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/
  integration:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure

coverage:
  status:
    project:
      default:
        informational: true
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Add sequence id to support cancellation of scheduled internal commmands on Azure Service Bus
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202105051000 Initial Market Roles DB.sql
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
Due: integration

Add service for dispatching queued internal commands
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/IInternalCommandProcessor.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/InternalCommandProcessor.cs
Due: integration

Initial commit
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Consumers/Validation/SocialSecurityNumberMustBeValidRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Consumers/Validation/SocialSecurityNumberMustBeValidRuleError.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Consumers/Validation/VATNumberMustBeValidRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Consumers/Validation/VATNumberMustBeValidRuleError.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveInHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/Validation/RequestMoveInRuleSet.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/MoveIn/Validation/RequestMoveInRuleSetTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Domain/Consumers/ConsumerTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/SampleData.cs
Due: unit

Add handling for marking internal commands as processed
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/UnitOfWorkBehaviour.cs
Due: integration

update
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveInHandler.cs
Due: unit

Generalize method to TestHost
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/Processing/MoveInProcessManagerTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

Add protobuf contracts and mappers for MoveIn internal commands
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/MoveIn/EffectuateConsumerMoveInInbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/MoveIn/EffectuateConsumerMoveInOutbound.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Contracts/Contract.proto
Due: integration

Fix issue persistance issue when commands are not cleared
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/Processing/MoveInProcessManagerRouter.cs
Due: unit

Switch to SimpleInjector
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

Test name update
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/MoveIn/Validation/RequestMoveInRuleSetTests.cs
Due: unit

Init
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Energinet.DataHub.MarketRoles.Domain.csproj
Due: unit

Init
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplierHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/BusinessProcessResult.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/EnergySupplierMustBeKnownRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/MeteringPointMustBeKnownRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/Consumer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/CprNumber.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/CustomerId.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/CvrNumber.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/Events/ConsumerCreated.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/Rules/CprNumberFormatRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/Rules/CvrNumberFormatRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/BusinessProcess.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/GsrnNumber.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/CannotBeInStateOfClosedDownRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/ChangeOfSupplierRegisteredOnSameDateIsNotAllowedRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/EffectuationDateCannotBeInThePastRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/MeteringPointMustBeEnergySuppliableRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/MoveInRegisteredOnSameDateIsNotAllowedRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/MoveOutRegisteredOnSameDateIsNotAllowedRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/MustHaveEnergySupplierAssociatedRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/ChangeEnergySupplier/ProductionMeteringPointMustBeObligatedRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Rules/GsrnNumberMustBeValidRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/SupplierRegistration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/SeedWork/EnumerationType.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/SeedWork/IBusinessRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/SeedWork/ValueObject.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveIn/AcceptTests.cs
Due: unit

Move internal command handling to separate behaviour to separate concerns
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/InternalCommandHandlingBehaviour.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Set content type
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/InternalCommandServiceBusDispatcher.cs
Due: integration

Update
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/Consumer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/CprNumber.cs
Due: unit

Added XML Converter with mappings and tests for MoveIn and ChangeOfSupplier
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/ConverterMapperConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/ConverterMapperConfigurations.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/ExtendedPropertyInfo.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/IXmlConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/Mappings/ChangeOfSupplierXmlMappingConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/Mappings/RequestMoveInXmlMappingConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/PropertyInfoHelper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/XmlConverter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/XmlHeaderData.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/XmlMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/XmlMappingConfigurationBase.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/ChangeOfSupplierCimXml.xml
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/MoveInCimXml.xml
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/XmlConverterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Energinet.DataHub.MarketRoles.Tests.csproj
Due: unit, integration

Add correlation id to queued internal commands to improve traceability
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202105051000 Initial Market Roles DB.sql
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/CommandScheduler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
Due: integration

Remove support for Instant data type in XmlMapper
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/StartOfSupplyMustBeValidRuleError.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/XmlMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/XmlConverterTests.cs
Due: unit, integration

Add internal command queue dispatcher
  source/business-workflow/Energinet.DataHub.MarketRoles.sln
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Dispatcher.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Infrastructure/TimerTriggers/ScheduleStatus.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Infrastructure/TimerTriggers/TimerInfo.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/host.json
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/local.settings.sample.json
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/InternalCommandServiceBusDispatcher.cs
Due: integration

Add terraform code for internal command queue dispatcher
  build/infrastructure/azfun-internal-command-dispatcher.tf
Due: none

Add missing license header
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Add CI/CD
  .github/workflows/internal-command-dispatcher-cd.yml
  .github/workflows/internal-command-dispatcher-ci.yml
Due: none

Changed date properties to strings on commands and justified corresponding tests
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplierHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/BusinessProcessResult.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/StartOfSupplyMustBeValidRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveIn.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveInHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/ConnectionStringFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/RequestChangeOfSupplierResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Ingestion/Mappers/RequestMoveInMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Mappers/RequestMoveInMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/Processing/MoveInProcessManagerTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/SampleData.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Validation/RequestChangeOfSupplierRuleSetTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/MoveIn/Validation/RequestMoveInRuleSetTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/SampleData.cs
Due: unit, integration

Add support for evaluation of XML attributes for each XML element
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/Validation/RequestMoveInRuleSet.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/ExtendedPropertyInfo.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/Mappings/RequestMoveInXmlMappingConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/XmlElementInfo.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/XmlMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/ChangeOfSupplierCimXml.xml
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/MoveInCimXml.xml
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/XmlConverterTests.cs
Due: unit, integration

Optimized way to find namespace and prefix in XML root element attributes
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/XmlConverter/XmlMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/EDI/MoveInCimXml.xml
Due: unit, integration

Remove pragma disable
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Dispatcher.cs
Due: none

Fix typo
  build/infrastructure/azfun-internal-command-dispatcher.tf
Due: none

Disable dependabot
  .github/dependabot.yml
Due: none

Add nullable
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Dispatcher.cs
Due: none

use cim documents
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/BusinessProcessResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/BusinessProcessResultPostOfficeCimHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ChangeOfSupplier/ConsumerDetails/ConsumerDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ChangeOfSupplier/EndOfSupplyNotification/EndOfSupplyNotifier.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ChangeOfSupplier/MeteringPointDetails/MeteringPointDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ChangeOfSupplier/RequestChangeOfSupplierApproved.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ChangeOfSupplier/RequestChangeOfSupplierRejected.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ChangeOfSupplier/RequestChangeOfSupplierResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/MeteringPointDetails/MeteringPointDetailsForwarder.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/RequestChangeOfSupplierRejected.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/MoveIn/RequestMoveInResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/MoveIn/MoveInRequestAccepted.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/MoveIn/MoveInRequestRejected.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/MoveIn/RequestMoveInResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/PostOfficeEnvelope.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Serialization/Utf8StringWriter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

missing license
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Serialization/Utf8StringWriter.cs
Due: integration

Add Command factory including XML converting to Composition Root
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/CommandApi.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
Due: integration

create actual documents
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/MoveIn/MoveInRequestAccepted.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/MoveIn/MoveInRequestRejected.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/MoveIn/RequestMoveInResultHandler.cs
Due: integration

missing license
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/BusinessProcessResultPostOfficeCimHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/MoveInRequestRejected.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/PostOfficeEnvelope.cs
Due: integration

Add event message dispatch trigger to outbox tf
  build/infrastructure/azfun-outbox.tf
Due: none

Update function settings TF
  build/infrastructure/azfun-internal-command-dispatcher.tf
Due: none

use poco and serializer for cim xml
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/AcknowledgementXmlSerializer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/ConfirmMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/MarketActivityRecord.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/MarketActivityRecordWithReasons.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/MarketParticipant.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/Reason.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/Acknowledgements/RejectMessage.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/BusinessProcessResultPostOfficeCimHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/MoveInRequestAccepted.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/MoveInRequestRejected.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

fix merge errors
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/CommandApi.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
Due: integration
