Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, integrationevents

Move to infrastructure
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Tests/Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriterTests.cs
Due: integration

Move to infrastructure
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/OutgoingMessages/CharacteristicsOfACustomerAtAnAp/CharacteristicsOfACustomerAtAnApDocumentWriter.cs
  source/Messaging.Tests/Application/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/CharacteristicsOfACustomerAtAnApDocumentWriterTests.cs
Due: integration

Move to infrastructure
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierJsonDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierXmlDocumentWriter.cs
  source/Messaging.Tests/Application/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierJsonDocumentWriterTests.cs
Due: integration

Move to infrastructure
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/OutgoingMessages/GenericNotification/GenericNotificationDocumentWriter.cs
  source/Messaging.Tests/Application/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
Due: integration

Move to infrastructure
  source/Messaging.ArchitectureTests/CompositionRootTests.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierJsonDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierXmlDocumentWriter.cs
  source/Messaging.Tests/Application/OutgoingMessages/RejectRequestChangeOfSupplier/JsonDocumentWriterTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: integration

Utilize async/await
  source/Messaging.Infrastructure/Configuration/InternalCommands/InternalCommandAccessor.cs
Due: integration

Move to infrastructure
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.ArchitectureTests/CompositionRootTests.cs
  source/Messaging.Infrastructure/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/CharacteristicsOfACustomerAtAnAp/CharacteristicsOfACustomerAtAnApDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/Common/Xml/DocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/Common/Xml/HeaderWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierXmlDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/GenericNotification/GenericNotificationDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierXmlDocumentWriter.cs
  source/Messaging.IntegrationTests/Application/OutgoingMessages/Requesting/RequestMessagesTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/DocumentFactoryTests.cs
Due: integration

Move to infrastructure
  source/Messaging.Infrastructure/OutgoingMessages/Common/Json/JsonHeaderWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierJsonDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierJsonDocumentWriter.cs
Due: integration

Change access modifier
  source/Messaging.Infrastructure/OutgoingMessages/Common/Json/JsonHeaderWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/Common/Xml/HeaderWriter.cs
Due: integration

Move to a new home
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/OutgoingMessages/Common/IMarketActivityRecordParser.cs
  source/Messaging.Application/OutgoingMessages/Common/MarketRoles.cs
  source/Messaging.Application/OutgoingMessages/Common/Reasons/IValidationErrorTranslator.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardCustomerMasterDataHandler.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
  source/Messaging.Application/Transactions/MoveIn/MoveInNotifications.cs
  source/Messaging.Application/Transactions/MoveIn/MoveInRequestHandler.cs
  source/Messaging.Infrastructure/Common/MarketActivityRecordParser.cs
  source/Messaging.Infrastructure/Common/Reasons/ValidationErrorTranslator.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/CharacteristicsOfACustomerAtAnAp/CharacteristicsOfACustomerAtAnApDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/Common/Xml/DocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierJsonDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierXmlDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/GenericNotification/GenericNotificationDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierJsonDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierXmlDocumentWriter.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/CreateEndOfSupplyNotificationTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardCustomerMasterDataTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardMeteringPointMasterDataTests.cs
  source/Messaging.IntegrationTests/Infrastructure/Common/Reasons/ValidationErrorTranslatorTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriterTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/CharacteristicsOfACustomerAtAnApDocumentWriterTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierJsonDocumentWriterTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/RejectRequestChangeOfSupplier/JsonDocumentWriterTests.cs
  source/Messaging.Tests/Application/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: integration

Move to a new home
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/OutgoingMessages/Common/Xml/DocumentDetails.cs
  source/Messaging.Infrastructure/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/CharacteristicsOfACustomerAtAnAp/CharacteristicsOfACustomerAtAnApDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/Common/Xml/DocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/Common/Xml/HeaderWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierXmlDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/GenericNotification/GenericNotificationDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierXmlDocumentWriter.cs
Due: integration

Move to a new home
  source/Messaging.Tests/Domain/OutgoingMessages/BundleTests.cs
Due: none

Move to a new home
  source/Messaging.Tests/Infrastructure/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/AccountingPointCharacteristics/SampleData.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/Asserts/AssertJsonMessage.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/Asserts/AssertXmlMessage.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/CharacteristicsOfACustomerAtAnApDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierJsonDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/JsonDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: none

Move to a new home
  source/Messaging.Tests/Infrastructure/OutgoingMessages/Asserts/AssertXmlDocument.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/CharacteristicsOfACustomerAtAnAP/CharacteristicsOfACustomerAtAnApDocumentWriterTests.cs
Due: none

Move to a new home
  source/Messaging.Tests/Infrastructure/OutgoingMessages/GenericNotification/GenericNotificationDocumentWriterTests.cs
Due: none

from pr 1299
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/sbs-market-participant-changed.tf
Due: none

Update terraform for metering point created
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/sbs-integration-events.tf
Due: none

change new listeners
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/sbs-integration-events.tf
  source/Messaging.Api/EventListeners/ConsumerMovedInListener.cs
  source/Messaging.Api/EventListeners/EnergySupplierChangedListener.cs
Due: none

Update name
  build/infrastructure/main/func-processing.tf
Due: none

Add index on processed date on queued internal commands
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202225081326 Create index on QueuedInternalCommands.sql
Due: none

Add health check and refactor
  build/infrastructure/main/func-api.tf
  build/infrastructure/main/func-processing.tf
  source/Messaging.Api/EventListeners/EnergySupplierChangedListener.cs
  source/Messaging.Api/Program.cs
  source/Messaging.Api/RuntimeEnvironment.cs
  source/Messaging.Infrastructure/Configuration/HealthCheckRegistration.cs
Due: integration

Added new event listener
  source/Messaging.Api/EventListeners/ActorCreatedListener.cs
  source/Messaging.Api/Messaging.Api.csproj
  source/Messaging.Application/Actor/CreateActor.cs
Due: none

update topic name for integration events
  build/infrastructure/main/func-api.tf
  build/infrastructure/main/func-processing.tf
  source/Messaging.Api/EventListeners/ConsumerMovedInListener.cs
  source/Messaging.Api/EventListeners/EnergySupplierChangedListener.cs
  source/Messaging.Api/Program.cs
  source/Messaging.Api/RuntimeEnvironment.cs
Due: none

Move to a new home
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/SampleData.cs
  source/Messaging.IntegrationTests/Factories/EffectiveDateFactory.cs
Due: integration

Move to a new home
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/CreateEndOfSupplyNotificationTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardCustomerMasterDataTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/WhenAConsumerHasMovedInTests.cs
  source/Messaging.IntegrationTests/Assertions/AssertMarketActivityRecord.cs
  source/Messaging.IntegrationTests/Assertions/AssertOutgoingMessage.cs
  source/Messaging.IntegrationTests/Assertions/AssertQueuedCommand.cs
  source/Messaging.IntegrationTests/Assertions/AssertXmlMessage.cs
Due: integration

Added ActorRegistry Added Command Added Handler
  source/Messaging.Api/EventListeners/ActorCreatedListener.cs
  source/Messaging.Application/Actors/CreateActor.cs
  source/Messaging.Application/Actors/CreateActorHandler.cs
  source/Messaging.Application/Actors/IActorRegistry.cs
  source/Messaging.Infrastructure/Actors/ActorRegistry.cs
Due: integration

Encapsulate reason code
  source/Messaging.Infrastructure/OutgoingMessages/Common/Json/JsonHeaderWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierJsonDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierJsonDocumentWriter.cs
Due: integration

Encapsulate reason code
  source/Messaging.Infrastructure/OutgoingMessages/Common/Xml/DocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/Common/Xml/HeaderWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmChangeOfSupplierXmlDocumentWriter.cs
  source/Messaging.Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierXmlDocumentWriter.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: integration

Remove reason code from message header
  source/Messaging.Domain/OutgoingMessages/Bundle.cs
  source/Messaging.Domain/OutgoingMessages/MessageHeader.cs
  source/Messaging.Infrastructure/OutgoingMessages/Common/Json/JsonHeaderWriter.cs
  source/Messaging.Tests/Application/OutgoingMessages/DocumentFactoryTests.cs
  source/Messaging.Tests/Domain/OutgoingMessages/BundleTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/Asserts/AssertJsonMessage.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/Asserts/AssertXmlMessage.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierJsonDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/JsonDocumentWriterTests.cs
  source/Messaging.Tests/Infrastructure/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: integration

Remove reason code from outgoing message
  source/Messaging.Application/Transactions/MoveIn/ForwardCustomerMasterDataHandler.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
  source/Messaging.Application/Transactions/MoveIn/MoveInNotifications.cs
  source/Messaging.Application/Transactions/MoveIn/MoveInRequestHandler.cs
  source/Messaging.Domain/OutgoingMessages/OutgoingMessage.cs
  source/Messaging.Infrastructure/Configuration/DataAccess/Outgoing/OutgoingMessageEntityConfiguration.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/CreateEndOfSupplyNotificationTests.cs
  source/Messaging.IntegrationTests/AssertOutgoingMessage.cs
  source/Messaging.IntegrationTests/Infrastructure/OutgoingMessages/MessageAvailabilityPublisherTests.cs
  source/Messaging.Tests/Domain/OutgoingMessages/BundleTests.cs
Due: integration

Remove reason code column
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202225081509 Remove reasoncode column.sql
  source/Messaging.IntegrationTests/AssertOutgoingMessage.cs
Due: integration

Remove dead code
  source/Messaging.Application/OutgoingMessages/ProcessType.cs
Due: none

Unzip if zipped
  .github/actions/publish-release-contents/action.yml
Due: none

Ensure integration events define an identifier
  source/IntegrationEvents/IntegrationEvents.Tests/ContractTests.cs
  source/IntegrationEvents/IntegrationEvents.Tests/IntegrationEvents.Tests.csproj
  source/IntegrationEvents/IntegrationEvents.Tests/Usings.cs
  source/IntegrationEvents/IntegrationEvents.sln
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.proto
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.proto
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.proto
Due: integrationevents

Bump version
  source/IntegrationEvents/documents/release-notes/release-notes.md
  source/IntegrationEvents/source/IntegrationEvents/IntegrationEvents.csproj
Due: integrationevents

Add license lines
  source/IntegrationEvents/IntegrationEvents.Tests/ContractTests.cs
  source/IntegrationEvents/IntegrationEvents.Tests/IntegrationEvents.Tests.csproj
  source/IntegrationEvents/IntegrationEvents.Tests/Usings.cs
Due: integrationevents

Added terraform Added vars to RuntimeEnvironment.cs
  build/infrastructure/main/func-api.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/sbs-market-participant-changed.tf
  source/Messaging.Api/EventListeners/ActorCreatedListener.cs
  source/Messaging.Api/Program.cs
  source/Messaging.Api/RuntimeEnvironment.cs
  source/Messaging.Application/Actors/CreateActorHandler.cs
  source/Messaging.Infrastructure/Actors/ActorRegistry.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.IntegrationTests/Application/Actors/CreateActorsTests.cs
  source/Messaging.IntegrationTests/Application/Actors/SampleData.cs
  source/Messaging.IntegrationTests/Fixtures/DatabaseFixture.cs
Due: integration

Upgrade package
  source/Messaging.Infrastructure/Messaging.Infrastructure.csproj
Due: integration

Nuke actor sync
  build/infrastructure/main/func-actor-sync.tf
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/.gitignore
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Energinet.DataHub.MarketRoles.ActorRegistrySync.csproj
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Entities/Actor.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Entities/EnergySupplier.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Entities/GridArea.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Entities/GridAreaLink.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Entities/LegacyActor.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Entities/SupplierRegistration.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Entities/UserActor.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Entities/UserActorDto.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/GrantUserAccess.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Services/ActorRegistryDBService.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Services/EnergySupplyingSynchronization.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Services/MessagingSynchronization.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/SyncActors.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/host.json
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/local.settings.sample.json
  source/Energinet.DataHub.MarketRoles.sln
Due: none

Path conditions:
  unit: any of: source/Messagging.Application/, source/Messagging.Tests/, source/Processing.Application/, source/Processing.Domain/, source/Processing.Tests/
  integration: any of: source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/Processing.Infrastructure, source/Messaging.Infrastructure, source/Messaging.IntegrationTests, source/Processing.IntegrationTests
  integrationevents: any of: source/IntegrationEvents/
