Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

use appsetting instead of DEBUG flag
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/DatabaseFixture.cs
Due: none

init
  build/infrastructure/main/azfun-processing.tf
  build/infrastructure/main/kv-sharedresources.tf
  source/Energinet.DataHub.MarketRoles.Application/MeteringPointCreated/MeteringPointCreated.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/INotificationReceiver.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/NotificationReceiver.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/IProtobufMessageFactory.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufMessageFactory.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufMessageParserMap.cs
Due: unit, integration

Protobuf parts added
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/MeteringPointCreated.cs
  source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplierHandler.cs
  source/Energinet.DataHub.MarketRoles.Application/Common/Validation/MeteringPointMustBeKnownRule.cs
  source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveInHandler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/INotificationReceiver.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/NotificationReceiver.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/Protobuf/MeteringPointCreated.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/Protobuf/MeteringPointCreatedInboundMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/IProtobufMessageFactory.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufMessageFactory.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Protobuf/ProtobufMessageParserMap.cs
Due: unit, integration

move correlation logic from other domain
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/CorrelationIdMiddleware.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/CommandApi.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Middleware/HttpCorrelationIdMiddleware.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Correlation/CorrelationContext.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Correlation/ICorrelationContext.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Ingestion/ProcessingServiceBusChannel.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/CommandScheduler.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

add entrypoint telemetry
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Energinet.DataHub.MarketRoles.EntryPoints.Common.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/EntryPointTelemetryScopeMiddleware.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
Due: integration

add telemetry to outbox
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/OutboxMessageDispatcherTelemetryDecorator.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Outbox/OutboxMessage.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Outbox/OutboxMessageFactory.cs
Due: integration

fix: using local db shouldn't use container
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/DatabaseFixture.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

add correlation to outbox messages
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202109010720 Add Correlation to OutboxMessages.sql
Due: none

add Correlation column to config
  source/Energinet.DataHub.MarketRoles.Infrastructure/Outbox/OutboxMessageEntityConfiguration.cs
Due: integration

add ApplicationInsights to functions
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/EntryPoint.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Energinet.DataHub.MarketRoles.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Energinet.DataHub.MarketRoles.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/Energinet.DataHub.MarketRoles.Infrastructure/Transport/Channel.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/AzureFunctionHostConfigurationTests.cs
Due: integration

add telemetry to internal commands
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/CommandScheduler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/InternalCommandDispatcherTelemetryDecorator.cs
Due: integration

fix wrong container registration
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

rename correlationid to correlation
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202109010920 Alter Correlation in QueuedInternalCommands.sql
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/InternalCommandDispatcherTelemetryDecorator.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/InternalCommandServiceBusDispatcher.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
Due: integration

Write event to enqueued command table
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/CreateAccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/CreateAccountingPointHandler.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/MeteringPointCreated.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/MeteringPointCreatedHandler.cs
  source/Energinet.DataHub.MarketRoles.Application/Common/Commands/ICommandScheduler.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/Protobuf/MeteringPointCreated.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/CommandScheduler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/AccountingPoint/CreateAccountingPoint.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/AccountingPoint/CreateAccountingPointOutboundMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommand.cs
Due: unit, integration

DBUP script path added
  .github/workflows/infrastructure-cd.yml
Due: none

update
  .github/workflows/infrastructure-cd.yml
Due: none

Updated messageType for move in request
  source/Energinet.DataHub.MarketRoles.Infrastructure/EDI/MoveIn/RequestMoveInResultHandler.cs
Due: integration

Update converting to notification from metadata
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/EventMetadata.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/IntegrationEventReceiver.cs
Due: integration

Added seed data
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202109301255 Insert AccountPoints.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202109301258 Insert EnergySuppliers.sql
Due: none

InboundMapping
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/ConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/ConsumptionMeteringPointCreatedHandler.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/CreateAccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/EnumerationMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/ConsumptionMeteringPoint/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/ConsumptionMeteringPoint/ConsumptionMeteringPointCreatedInboundMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/Protobuf/MeteringPointCreated.proto
Due: unit, integration

add AI
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Energinet.DataHub.MarketRoles.EntryPoints.Common.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/EntryPoint.cs
Due: integration

CreateAccountingPoint update
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/CreateAccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/CreateAccountingPointHandler.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
Due: unit

Create AccountingPoint update
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/CreateAccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateAccountingPointMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/AccountingPoint/CreateAccountingPoint.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/AccountingPoint/CreateAccountingPointOutboundMapper.cs
Due: unit, integration

Update settings to match sample
  build/infrastructure/main/azfun-internal-command-dispatcher.tf
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
Due: integration

Change to correct Id
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/AccountingPoint/CreateAccountingPointOutboundMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
Due: integration

Update eventmetadata
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/EventMetadata.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/IntegrationEventReceiver.cs
Due: integration

Rename back to event property name
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/EventMetadata.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
Due: integration

Changes from KFT Feedback
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/ConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/ConsumptionMeteringPointCreatedHandler.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/CreateAccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Application/AccountingPoint/CreateAccountingPointHandler.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateAccountingPointMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Notifications/ConsumptionMeteringPoint/ConsumptionMeteringPointCreatedInboundMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/InternalCommands/Protobuf/Mappers/AccountingPoint/CreateAccountingPointOutboundMapper.cs
Due: unit, integration

Using cleanup
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/UnitOfWorkBehaviour.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateAccountingPointMapper.cs
Due: integration

Changed integration queue listener to Market Roles instead of Metering Point
  build/infrastructure/main/kv-sharedresources.tf
Due: none

Copied newest version of integration events handling from Metering Points
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/IIntegrationEventMessageFactory.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/IIntegrationMetadataContext.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/IntegrationEventServiceBusMessageFactory.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/IntegrationMetadataContext.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Common/ServiceBusMessageExtension.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/IntegrationEventDispatchers/EnergySupplierChangedDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

init
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/EnergySupplierChangeRegistered.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/IntegrationEventDispatchers/EnergySupplierChangeRegisteredDispatcher - Copy.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/InstantExtensions.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChangeRegistered/EnergySupplierChangeRegistered.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChangeRegistered/EnergySupplierChangeRegisteredIntegrationEvent.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChangeRegistered/EnergySupplierChangeRegisteredOutBoundMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChangeRegistered/EnergySupplierChangeRegisteredTopic.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/EnergySupplierChangeRegistered/PublishWhenEnergySupplierChangeRegistered.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Process/ChangeOfSupplierProcessManagerTests.cs
Due: unit, integration

Outbox Stuff
  build/infrastructure/main/azfun-outbox.tf
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/IntegrationEventDispatchers/EnergySupplierChangeRegisteredDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/InstantExtensions.cs
Due: integration

Test Updates
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/InstantExtensions.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/AzureFunctionHostConfigurationTests.cs
Due: integration

Dispatch nameof update
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/IntegrationEventDispatchers/EnergySupplierChangeRegisteredDispatcher.cs
Due: integration

Renaming
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/IntegrationEventDispatchers/FutureEnergySupplierChangeRegisteredDispatcher.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.proto
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegisteredIntegrationEvent.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegisteredOutBoundMapper.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegisteredTopic.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEvents/FutureEnergySupplierChangeRegistered/PublishWhenEnergySupplierChangeRegistered.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
Due: integration

md lint fix
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

wordlist
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

update CODEOWNERS to add MD as owner and pipelines and infrastructure move wordlist to repo root
  .github/CODEOWNERS
  wordlist.txt
Due: none

update terraform
  build/infrastructure/main/azfun-ingestion.tf
  build/infrastructure/main/azfun-internal-command-dispatcher.tf
  build/infrastructure/main/azfun-outbox.tf
  build/infrastructure/main/azfun-processing.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-sharedresources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/plan-shared.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/resource-groups.tf
  build/infrastructure/main/sb-integration-event-shared.tf
  build/infrastructure/main/sb-marketroles.tf
  build/infrastructure/main/stor-postoffice.tf
  build/infrastructure/main/subscr-main.tf
  build/infrastructure/main/variables.tf
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MarketRoles.Application/, source/Energinet.DataHub.MarketRoles.Domain/, source/Energinet.DataHub.MarketRoles.Tests/
  integration: any of: source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion, source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox, source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/Energinet.DataHub.MarketRoles.Infrastructure
