Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/
  integration:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure

coverage:
  status:
    project:
      default:
        informational: true
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Remove unused constructor
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/Consumer.cs
Due: unit

Assert against repository and domain object instead of raw SQL
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
Due: none

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChangeAccepted.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChangeAccepted.proto
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChanged.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChanged.proto
Due: integration

Update source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChangeCancelled.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChangeCancelled.proto
Due: integration

test values updated
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/AzureFunctionHostConfigurationTests.cs
Due: none

Move and rename test
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveIn/EffectuateTests.cs
Due: unit

minor tweaks
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/ConsumerRegisteredTopic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Topic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/AzureFunctionHostConfigurationTests.cs
Due: integration

variable updated
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
Due: integration

update
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
Due: integration

Add logic to effectuate and complete consumer move in
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/ConsumerMovedIn.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveIn/EffectuateTests.cs
Due: unit

Refactor: Remove value objects from domain event to ensure immutability
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ProcessManagerRouter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/EnergySupplierChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/ChangeOfSupplier/PublishWhenEnergySupplierHasChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/ProcessManagerRouterTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/ChangeOfSupplier/Process/ChangeOfSupplierProcessManagerTests.cs
Due: unit, integration

Fix issue where a process manager was incorrectly created due to business processes raise the same domain events
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/Processing/ProcessManagerRouter.cs
Due: unit

Refactor: Remove value objects and properties that does not express the business intent
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/ConsumerMovedInIntegrationEvent.cs
Due: integration

Add business process handling logic for effectuating consumer move in
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/Processing/EffectuateConsumerMoveIn.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/Processing/EffectuateConsumerMoveInHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/PublishWhenConsumerHasMovedIn.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: unit, integration

Refactor: Add suffix
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/ChangeOfSupplier/EnergySupplierChangedIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/ChangeOfSupplier/PublishWhenEnergySupplierHasChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
Due: integration

Add process manager for move in
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/Processing/MoveInProcessManager.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/MoveIn/Process/MoveInProcessManagerTests.cs
Due: unit

extract base entrypoint
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/EntryPoint.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/AzureFunctionHostConfigurationTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
Due: integration

Open generic registration
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/ITopicSender.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
Due: integration

minor updates
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
Due: integration

Changed naming of contracts to be more telling
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/FutureEnergySupplierChangeAccepted.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/FutureEnergySupplierChangeCancelled.proto
Due: integration

Added documentation
  docs/contracts.md
Due: none

lint
  .github/utilities/md-spellcheck/wordlist.txt
  docs/contracts.md
Due: none

spelling
  docs/contracts.md
Due: none

Add data access configuration for move in process manager
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/MarketRolesContext.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/ProcessManagers/MoveInProcessManagerEntityConfiguration.cs
Due: integration

Add move in process manager router
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/Processing/MoveInProcessManagerRouter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/Processing/MoveInProcessManagerTests.cs
Due: unit

Clean up
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/MoveIn/Process/MoveInProcessManagerTests.cs
Due: unit

Add test traits
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/EffectuateTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/Processing/MoveInProcessManagerTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Application/MoveIn/Process/MoveInProcessManagerTests.cs
Due: unit

Terraform for shared service added
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/resource-group.tf
  build/infrastructure/sb-integration-event-shared.tf
  build/infrastructure/variables.tf
Due: none

Keyvault added
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/keyvault.tf
Due: none
