Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/
  integration:
    paths:
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing
      - source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure

coverage:
  status:
    project:
      default:
        informational: true
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

.
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/ConsumerRegistered.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/RequestHandlers/ConsumerRegisteredDispatch.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/ChangeOfSupplier/EnergySupplierChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/ChangeOfSupplier/PublishWhenEnergySupplierHasChanged.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/Channels/ServiceBusChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/IIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/ConsumerRegisteredIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: unit, integration

refactor
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/Channels/ServiceBusChannel.cs
Due: integration

SystemDateTimeProvider added
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/SystemDateTimeProvider.cs
Due: integration

Refactor: Generalizing helper methods
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/RequestTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: none

Add initial business request handler for move in
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveIn.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveInHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/Validation/RequestMoveInRuleSet.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/MoveIn/RequestMoveInResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveInTests.cs
Due: unit, integration

Initial
  source/business-workflow/Energinet.DataHub.MarketRoles.sln
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/ConnectionStringFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/CustomScriptProvider.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/EnvironmentFilter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/NamingConvention.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/ResultReporter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/ScriptComparer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Helpers/UpgradeFactory.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/README.md
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202105051000 Initial Market Roles DB.sql
Due: none

update
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/ConsumerRegistered.cs
Due: unit

setup ingestion composition root
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Users/IUserContext.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Users/UserContext.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Users/UserIdentity.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Users/UserIdentityExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorActivator.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorScopedRequest.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorServiceProviderAdapter.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/CommandApi.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Middleware/HttpCorrelationIdMiddleware.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Middleware/HttpUserContextMiddleware.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/NullChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Correlation/CorrelationContext.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Correlation/ICorrelationContext.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Contracts/Contract.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/ServiceBusProcessingClient.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
Due: unit, integration

Dispatch approve actor message
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/MoveIn/MoveInRequestAccepted.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/MoveIn/RequestMoveInResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
Due: integration

Remove unneeded integration event
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/IntegrationEventDispatching/MoveIn/ConsumerRegisteredIntegrationEvent.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/IntegrationEventDispatching/MoveIn/PublishWhenConsumerIsRegistered.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
Due: integration

Remove unused object
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/SeedWork/DomainEventsContext.cs
Due: unit

db script updated - dependabot.yaml file
  .github/dependabot.yml
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202105051000 Initial Market Roles DB.sql
Due: none

update dependabot
  .github/dependabot.yml
Due: none

Pr Comments update
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/RequestHandlers/ConsumerRegisteredDispatchHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/Channels/NullChannel.cs
Due: integration

Rename interface to use better naming
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/IBusinessProcessResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/AuthorizationBehaviour.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/BusinessProcessResponderBehaviour.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/InputValidationBehaviour.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/RequestChangeOfSupplierResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/MoveIn/RequestMoveInResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Move rules to common to make them accessible to other use cases
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/ChangeOfSupplier/RequestChangeOfSupplierHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/EnergySupplierMustBeKnownRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/MeteringPointMustBeKnownRule.cs
Due: unit

Add check for energy supplier
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveInHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/MoveIn/MoveInRequestRejected.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/MoveIn/RequestMoveInResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
Due: unit, integration

Add check for accounting point
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
Due: none

Generalize assert method
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
Due: none

ConsumerREgisteredDispatchHandler removed
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/RequestHandlers/ConsumerRegisteredDispatchHandler.cs
Due: integration

send movein requests to processing queue
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveIn.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/CommandApi.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/NullChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Ingestion/Mappers/RequestMoveInMapper.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Ingestion/ProcessingServiceBusChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Processing/Contracts/Contract.proto
Due: unit, integration

Refactor: Generalized common functionality regarding generation of Accept/Reject messages and outbox handling in a base class
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/BusinessProcessResultHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/MoveIn/RequestMoveInResultHandler.cs
Due: integration

Add missing imports
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/EnergySupplierMustBeKnownRule.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Common/Validation/MeteringPointMustBeKnownRule.cs
Due: unit

Refactor: Implement base handler to remove duplication
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/EDIMessaging/ENTSOE/CIM/ChangeOfSupplier/RequestChangeOfSupplierResultHandler.cs
Due: integration

limit dependabot to zero pull requests
  .github/dependabot.yml
Due: none

update dependencies
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/Energinet.DataHub.MarketRoles.Application.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Energinet.DataHub.MarketRoles.EntryPoints.Common.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Energinet.DataHub.MarketRoles.EntryPoints.Outbox.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Energinet.DataHub.MarketRoles.EntryPoints.Processing.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Energinet.DataHub.MarketRoles.Tests.csproj
Due: unit, integration

Register new consumer if not existing
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveInHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/IConsumerRepository.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/Consumers/ConsumerRepository.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/SampleData.cs
Due: unit, integration

Integration event topics initial
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/ConsumerRegisteredTopic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Topic.cs
Due: integration

Update
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/Channels/NullChannel.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/MoveIn/ConsumerRegisteredTopic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Topic.cs
Due: integration

Include consumer fullname
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Application/MoveIn/RequestMoveInHandler.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202105051000 Initial Market Roles DB.sql
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/Consumer.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/ConsumerName.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/Consumers/Events/ConsumerCreated.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/Consumers/ConsumerEntityConfiguration.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MoveIn/MoveInTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Domain/Consumers/ConsumerTests.cs
Due: unit, integration

Clean up
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/IntegrationEventDispatching/Channels/NullChannel.cs
Due: integration

Protobuff contracts added
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChangeAccepted.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChangeCancelled.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChanged.proto
Due: integration

new lines added
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChangeCancelled.proto
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Contracts/EnergySupplierChanged.proto
Due: integration

Fix wrong event naming
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/AccountingPoint.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Domain/MeteringPoints/Events/ConsumerMoveInAccepted.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Tests/Domain/MeteringPoints/MoveIn/AcceptTests.cs
Due: unit, integration

TODO : complete test and environmentVariables
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/Topic.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.Infrastructure/Integration/TopicSender.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/AzureFunctionHostConfigurationTests.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/Energinet.DataHub.MarketRoles.IntegrationTests.csproj
Due: integration

Updated test
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/business-workflow/source/Energinet.DataHub.MarketRoles.IntegrationTests/AzureFunctionHostConfigurationTests.cs
Due: integration

Removed outcommented code
  source/business-workflow/source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
Due: integration
