Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

OutgoingMessages Test added
  source/B2B.Transactions.IntegrationTests/MessageHandlingTests.cs
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
  source/B2B.Transactions.IntegrationTests/TestDoubles/OutgoingMessageStoreSpy.cs
  source/B2B.Transactions.IntegrationTests/TransactionHandlingTests.cs
  source/B2B.Transactions/OutgoingMessages/IOutgoingMessageStore.cs
  source/B2B.Transactions/Transactions/MessageAvailable.cs
  source/B2B.Transactions/Transactions/RegisterTransaction.cs
Due: none

Fix development dependencies
  Directory.Build.props
  source/Energinet.DataHub.MarketRoles.sln
Due: none

Use PascalCase for named placeholders
  source/B2B.Transactions.Api/TransactionQueueListener.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Telemetry/NotificationHandlerTelemetryDecorator.cs
Due: integration

.NET analyzers are automatically added according to framework
  Directory.Build.props
Due: none

Updated all NuGet packages
  source/B2B.Transactions.Api/B2B.Transactions.Api.csproj
  source/B2B.Transactions.CimMessageAdapter/B2B.Transactions.CimMessageAdapter.csproj
  source/B2B.Transactions.Infrastructure/B2B.Transactions.Infrastructure.csproj
  source/B2B.Transactions/B2B.Transactions.csproj
  source/Energinet.DataHub.MarketRoles.Application/Energinet.DataHub.MarketRoles.Application.csproj
  source/Energinet.DataHub.MarketRoles.Domain/Energinet.DataHub.MarketRoles.Domain.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.LocalMessageHub/Energinet.DataHub.MarketRoles.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MarketRoles.Messaging/Energinet.DataHub.MarketRoles.Messaging.csproj
Due: unit

Use GetRequiredServer to avoid 'null'
  source/B2B.Transactions.Infrastructure/Configuration/CompositionRoot.cs
Due: none

Use PascalCase for named placeholders
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Telemetry/RequestHandlerTelemetryBehavior.cs
Due: integration

Separate style cop analyzer rules from .NET analyzer rules
  .editorconfig
Due: none

Suggestion => CA1848: Use the LoggerMessage delegates
  .editorconfig
Due: none

Remove explicit dependency
  source/B2B.Transactions.Infrastructure/B2B.Transactions.Infrastructure.csproj
Due: none

Suggestion => CA2254: Template should be a static expression
  .editorconfig
Due: none

Suppress in code => CS8605: Unboxing a possibly null value.
  source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/NodaTimeSqlMapper.cs
Due: integration

Suppress in code => CA2007: Consider calling ConfigureAwait on the awaited task
  source/B2B.Transactions.IntegrationTests/CimMessageAdapter/MessageReceiverTests.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorScopedRequest.cs
  source/Energinet.DataHub.MarketRoles.Messaging/LocalMessageHubClient.cs
  source/Energinet.DataHub.MarketRoles.Tests/LocalMessageHub/BundleCreatorTests.cs
Due: unit, integration

Use function v4 instead of v3
  source/B2B.Transactions.Api/B2B.Transactions.Api.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.LocalMessageHub/Energinet.DataHub.MarketRoles.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Energinet.DataHub.MarketRoles.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Energinet.DataHub.MarketRoles.EntryPoints.Processing.csproj
Due: integration

Update CI pipeline to use .NET 6
  .github/workflows/ci.yml
Due: none

Add 'IRequest<TResponse>'
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/MediatR/EmptyRequestPostProcessor.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/Telemetry/RequestHandlerTelemetryBehavior.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/AuthorizationBehaviour.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/BusinessProcessResponderBehaviour.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/InputValidationBehaviour.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/BusinessRequestProcessing/Pipeline/InternalCommandHandlingBehaviour.cs
Due: integration

Removed invalid reference
  source/B2B.Transactions/B2B.Transactions.csproj
Due: none

Suppress in code => CA2007: Consider calling ConfigureAwait on the awaited task
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
Due: none

Remove suppressions of CA2007.
  source/Energinet.DataHub.MarketRoles.EntryPoints.Common/SimpleInjector/SimpleInjectorScopedRequest.cs
  source/Energinet.DataHub.MarketRoles.Messaging/LocalMessageHubClient.cs
Due: integration

Suppress in code => CA5404: Do not disable token validation checks
  source/B2B.Transactions.Api/Program.cs
  source/B2B.Transactions.IntegrationTests/Infrastructure/Authentication/MarketActors/JwtBuilder.cs
  source/B2B.Transactions.IntegrationTests/Infrastructure/Authentication/MarketActors/JwtTokenParserTests.cs
Due: none

Use "SimplerSoftware.EntityFrameworkCore.SqlServer.NodaTime" instead of obsolete "EntityFrameworkCore.SqlServer.NodaTime"
  source/B2B.Transactions.Infrastructure/B2B.Transactions.Infrastructure.csproj
  source/B2B.Transactions.Infrastructure/Configuration/CompositionRoot.cs
  source/B2B.Transactions.IntegrationTests/B2B.Transactions.IntegrationTests.csproj
  source/B2B.Transactions.IntegrationTests/Fixtures/DatabaseFixture.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Energinet.DataHub.MarketRoles.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/Energinet.DataHub.MarketRoles.Infrastructure.csproj
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/MarketRolesDatabaseManager.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/TestHost.cs
Due: integration

Readonly field
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
Due: none

Remove suppressions of CA2007.
  source/B2B.Transactions.IntegrationTests/CimMessageAdapter/MessageReceiverTests.cs
Due: none

Use PascalCase for named placeholders
  source/Energinet.DataHub.MarketRoles.EntryPoints.LocalMessageHub/Functions/BundleDequeuedQueueSubscriber.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.LocalMessageHub/Functions/RequestBundleQueueSubscriber.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MarketRoles.EntryPoints.Processing/ServiceBusUserContextMiddleware.cs
Due: integration

Remove suppressions of CA2007.
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Application/ChangeOfSupplier/Processing/Commands/ChangeSupplierTests.cs
  source/Energinet.DataHub.MarketRoles.IntegrationTests/Transport/TransportTests.cs
  source/Energinet.DataHub.MarketRoles.Tests/LocalMessageHub/BundleCreatorTests.cs
Due: unit

Ensure VS shows build errors same as command line
  .editorconfig
  Directory.Build.props
Due: none

Missing '
  .github/workflows/ci.yml
Due: none

TF update to function-app 5.12.0
  build/infrastructure/main/func-api.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internal-command-dispatcher.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Outgoing messages are published
  source/B2B.Transactions.IntegrationTests/B2B.Transactions.IntegrationTests.csproj
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
  source/B2B.Transactions.IntegrationTests/TestDoubles/OutgoingMessageStoreSpy.cs
  source/B2B.Transactions/OutgoingMessages/AcceptMessage.cs
  source/B2B.Transactions/OutgoingMessages/IMessage.cs
Due: none

Outgoing message is published
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
  source/B2B.Transactions.IntegrationTests/TestDoubles/OutgoingMessageStoreSpy.cs
Due: none

Renamed IDocumentProvider
  source/B2B.Transactions.Infrastructure/Configuration/CompositionRoot.cs
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
  source/B2B.Transactions.IntegrationTests/TransactionHandlingTests.cs
  source/B2B.Transactions/Transactions/RegisterTransaction.cs
  source/B2B.Transactions/Xml/Outgoing/AcceptMessageFactory.cs
  source/B2B.Transactions/Xml/Outgoing/IMessageFactory.cs
  source/B2B.Transactions/Xml/Outgoing/MessageFactory.cs
Due: none

INtroduce OutgoingMessage
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
  source/B2B.Transactions.IntegrationTests/TestDoubles/OutgoingMessageStoreSpy.cs
  source/B2B.Transactions.IntegrationTests/TransactionHandlingTests.cs
  source/B2B.Transactions/OutgoingMessages/IOutgoingMessageStore.cs
  source/B2B.Transactions/Transactions/RegisterTransaction.cs
Due: none

RecipientId correct
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
  source/B2B.Transactions/OutgoingMessages/AcceptMessage.cs
  source/B2B.Transactions/OutgoingMessages/IMessage.cs
  source/B2B.Transactions/Transactions/RegisterTransaction.cs
Due: none

Assert DomainOrigin
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
Due: none

Assert documenttype
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
  source/B2B.Transactions/OutgoingMessages/AcceptMessage.cs
  source/B2B.Transactions/OutgoingMessages/IMessage.cs
  source/B2B.Transactions/Transactions/RegisterTransaction.cs
  source/B2B.Transactions/Xml/Outgoing/AcceptMessageFactory.cs
Due: none

Rename MessageType to DocumentType
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
  source/B2B.Transactions/OutgoingMessages/AcceptMessage.cs
  source/B2B.Transactions/OutgoingMessages/IMessage.cs
  source/B2B.Transactions/Transactions/RegisterTransaction.cs
Due: none

Assert MessageType and SupportsBundling
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
Due: none

Add correlation
  source/B2B.Transactions.IntegrationTests/MessagePublishingTests.cs
  source/B2B.Transactions.IntegrationTests/TestBase.cs
Due: none

Moved MessageIds to b2b schema
  source/B2B.Transactions.Infrastructure/Messages/MessageIdRegistry.cs
  source/B2B.Transactions.IntegrationTests/Fixtures/DatabaseFixture.cs
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202203221100 Re add IncomingMessagesId.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202204011130 Add OutboxMessages BTwoB Schema.sql
Due: none

EF6 configuration try fix
  source/Energinet.DataHub.MarketRoles.Domain/Consumers/Consumer.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/Consumers/ConsumerEntityConfiguration.cs
  source/Energinet.DataHub.MarketRoles.Infrastructure/DataAccess/MarketRolesContext.cs
Due: unit, integration

Path conditions:
  unit: any of: source/Energinet.DataHub.MarketRoles.Application/, source/Energinet.DataHub.MarketRoles.Domain/, source/Energinet.DataHub.MarketRoles.Tests/
  integration: any of: source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/Energinet.DataHub.MarketRoles.EntryPoints.Ingestion, source/Energinet.DataHub.MarketRoles.EntryPoints.Outbox, source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/Energinet.DataHub.MarketRoles.Infrastructure
