Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, integrationevents

Forgot to commit file
  source/Messaging.Tests/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriterTests.cs
Due: none

Move xsd file to new folder
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/SchemaStore/Schemas/Xml/urn-ediel-org-structure-accountingpointcharacteristics-0-1.xsd
Due: none

Expand with TransactionId to metadata in Sb msg
  source/Messaging.Api/IncomingMessages/MasterDataResponseMetadata.cs
  source/Messaging.Api/IncomingMessages/MeteringPointMasterDataResponseListener.cs
  source/Messaging.Application/Transactions/MoveIn/FetchMeteringPointMasterDataWhenAccepted.cs
  source/Messaging.Domain/Transactions/MoveIn/Events/MoveInWasAccepted.cs
  source/Messaging.Domain/Transactions/MoveIn/MoveInTransaction.cs
  source/Messaging.Infrastructure/Transactions/MoveIn/RequestMeteringPointMasterDataDispatcher.cs
Due: integration

add commandscheduler
  source/Messaging.Api/IncomingMessages/MeteringPointMasterDataResponseListener.cs
Due: none

Remove code that is not needed
  source/Messaging.Application/SchemaStore/SchemaProvider.cs
  source/Messaging.Application/SchemaStore/SchemaProviderFactory.cs
Due: none

Added duplicate key checks
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202206281101 Insert Reasons.sql
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202206281102 Insert AccountPoints.sql
Due: none

Extract Master data from response
  source/Messaging.Api/IncomingMessages/MeteringPointMasterDataResponseListener.cs
  source/Messaging.Application/MasterData/MasterDataContent.cs
Due: none

Extend forwardmeteringpointmasterdata with content
  source/Messaging.Api/IncomingMessages/MeteringPointMasterDataResponseListener.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterData.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/CompleteMoveInTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardMeteringPointMasterDataTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/MasterDataSampleData.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/SampleData.cs
Due: integration

Enqueue command
  source/Messaging.Api/IncomingMessages/MeteringPointMasterDataResponseListener.cs
Due: none

Add json test
  source/Messaging.CimMessageAdapter/Messages/MessageParser.cs
  source/Messaging.Tests/MessageParserTests.cs
  source/Messaging.Tests/Messaging.Tests.csproj
  source/Messaging.Tests/json/Reject request Change of Supplier.json
  source/Messaging.Tests/xml/Confirm request Change of Supplier.xml
Due: none

Added handling of reply format based on request content-type
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
  source/Messaging.Api/IncomingMessages/RequestChangeOfSupplierMessageReceiver.cs
  source/Messaging.CimMessageAdapter.Tests/JsonResponseFactoryTests.cs
  source/Messaging.CimMessageAdapter.Tests/ResponseFactoryErrorTests.cs
  source/Messaging.CimMessageAdapter.Tests/XmlResponseFactoryTests.cs
  source/Messaging.CimMessageAdapter/Response/JsonResponseFactory.cs
  source/Messaging.CimMessageAdapter/Response/ResponseStrategy.cs
  source/Messaging.CimMessageAdapter/Response/XmlResponseFactory.cs
Due: integrationevents

Split messageparser up
  source/Messaging.Application/SchemaStore/CimJsonSchemas.cs
  source/Messaging.CimMessageAdapter/MessageReceiver.cs
  source/Messaging.CimMessageAdapter/Messages/JsonMessageParser.cs
  source/Messaging.CimMessageAdapter/Messages/MessageParser.cs
  source/Messaging.CimMessageAdapter/Messages/XmlMessageParser.cs
  source/Messaging.Tests/MessageParserTests.cs
  source/Messaging.Tests/Messaging.Tests.csproj
  source/Messaging.Tests/SchemaProviderTests.cs
  source/Messaging.Tests/json/Reject request Change of Supplier.json
  source/Messaging.Tests/json/Request Change of Supplier.json
Due: none

Changed response strategy to avoid instantiating response factory methods before needing them
  source/Messaging.CimMessageAdapter/Response/ResponseStrategy.cs
Due: none

Added copyright notice
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
  source/Messaging.CimMessageAdapter.Tests/JsonResponseFactoryTests.cs
Due: integrationevents

writer
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardMeteringPointMasterDataTests.cs
Due: integration

correct save outgoingmessage
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardMeteringPointMasterDataTests.cs
Due: integration

Parser
  source/Messaging.Application/SchemaStore/SchemaBase.cs
  source/Messaging.CimMessageAdapter/JsonMessageConverter.cs
  source/Messaging.CimMessageAdapter/Messages/JsonMessage.cs
  source/Messaging.CimMessageAdapter/Messages/JsonMessageParser.cs
  source/Messaging.CimMessageAdapter/Messages/MktActivityRecord.cs
  source/Messaging.Tests/MessageParserTests.cs
  source/Messaging.Tests/json/Request Change of Supplier.json
Due: none

change factory method to public ctor
  source/Messaging.Api/IncomingMessages/MeteringPointMasterDataResponseListener.cs
  source/Messaging.Application/MasterData/MasterDataContent.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardMeteringPointMasterDataTests.cs
Due: integration

Correlation Id change
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
Due: none

update
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
Due: none

Changing some of the property values
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
Due: none

Revoke comments
  source/Messaging.Domain/Transactions/MoveIn/MoveInTransaction.cs
  source/Messaging.Tests/Transactions/MoveIn/MoveInTransactionTests.cs
Due: none

Removed superfluous class definitions Fixed error with SchemaBase
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
  source/Messaging.Application/SchemaStore/SchemaBase.cs
  source/Messaging.CimMessageAdapter/JsonMessageConverter.cs
  source/Messaging.CimMessageAdapter/MessageReceiver.cs
  source/Messaging.CimMessageAdapter/Messages/JsonMessage.cs
  source/Messaging.CimMessageAdapter/Messages/JsonMessageParser.cs
  source/Messaging.CimMessageAdapter/Messages/MessageParserStrategy.cs
  source/Messaging.CimMessageAdapter/Messages/MktActivityRecord.cs
  source/Messaging.CimMessageAdapter/Messaging.CimMessageAdapter.csproj
  source/Messaging.Tests/json/Request Change of Supplier.json
Due: integrationevents

Removed content type parameter from schema provider classes
  source/Messaging.Application/SchemaStore/SchemaProviderFactory.cs
  source/Messaging.CimMessageAdapter/Messages/JsonMessageParser.cs
  source/Messaging.CimMessageAdapter/Messages/MessageParserStrategy.cs
  source/Messaging.CimMessageAdapter/Messages/XmlMessageParser.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
  source/Messaging.Tests/MessageParserTests.cs
  source/Messaging.Tests/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/SchemaProviderTests.cs
Due: integration

Changed content type comparison to MediaTypeNames
  source/Messaging.CimMessageAdapter.Tests/JsonResponseFactoryTests.cs
  source/Messaging.CimMessageAdapter.Tests/XmlResponseFactoryTests.cs
  source/Messaging.CimMessageAdapter/Messages/MessageParserStrategy.cs
  source/Messaging.CimMessageAdapter/Response/ResponseStrategy.cs
Due: none

Merge main
  source/Messaging.Tests/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: none

removed unused using statements
  source/Messaging.CimMessageAdapter/Messages/JsonMessageParser.cs
Due: none

Update
  source/Messaging.Application/MasterData/MasterDataContent.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/MarketEvaluationPoint.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
  source/Messaging.Tests/OutgoingMessages/AccountingPointCharacteristics/SampleData.cs
Due: none

Refactor
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint/MarketEvaluationPoint.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
  source/Messaging.Tests/OutgoingMessages/AccountingPointCharacteristics/SampleData.cs
Due: none

Remove all processing handling for change of supplier
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
Due: integrationevents

add powerplantGsrn
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
Due: none

Replaced NJsonSchema with JsonSchema.Net
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/SchemaStore/JsonSchemaProvider.cs
  source/Messaging.CimMessageAdapter/Messages/JsonMessageParser.cs
  source/Messaging.CimMessageAdapter/Messaging.CimMessageAdapter.csproj
  source/Messaging.Tests/Messaging.Tests.csproj
  source/Messaging.Tests/SchemaProviderTests.cs
Due: none

Refactor internal command handling
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202207041353 Re-create QueuedInternalCommands table.sql
Due: none

update contracts
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
Due: integrationevents

Blank line added
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
Due: integrationevents

Remove unused import
  source/Messaging.Application/Common/DocumentWriter.cs
  source/Messaging.Application/Common/HeaderWriter.cs
Due: none

Refactor test
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Create CIM message from bundle
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Assert process type
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Path conditions:
  unit: any of: source/Messagging.Application/, source/Messagging.Tests/, source/Processing.Application/, source/Processing.Domain/, source/Processing.Tests/
  integration: any of: source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/Processing.Infrastructure, source/Messaging.Infrastructure, source/Messaging.IntegrationTests, source/Processing.IntegrationTests
  integrationevents: any of: source/IntegrationEvents/
