Repository Energinet-DataHub/opengeh-edi: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, integrationevents

Remove obsolete code
  source/Messaging.Application/Transactions/MoveIn/PendingBusinessProcess.cs
  source/Messaging.Tests/Transactions/MoveIn/MoveInTransactionTests.cs
Due: none

Extract unit of work handling to MediatR pipeline behaviour
  source/Messaging.Application/Transactions/MoveIn/CompleteMoveInTransactionHandler.cs
  source/Messaging.Application/Transactions/MoveIn/MoveInRequestHandler.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/Configuration/Processing/UnitOfWorkBehaviour.cs
Due: integration

change tf3 provider
  .github/workflows/ci.yml
  build/infrastructure/main/.terraform-version
  build/infrastructure/main/func-actor-sync.tf
  build/infrastructure/main/func-api.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-access-policies.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/mssqldb-this.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/sb-marketroles.tf
Due: none

Update MediatR
  source/Messaging.Application/Messaging.Application.csproj
Due: none

Update MediatR
  source/Messaging.Domain/Messaging.Domain.csproj
  source/Messaging.Infrastructure/Messaging.Infrastructure.csproj
Due: integration

Rename test
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
Due: integration

Rename tests
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
Due: integration

Move to application layer
  source/Messaging.Application/Configuration/ICommandScheduler.cs
  source/Messaging.Infrastructure/Configuration/InternalCommands/CommandSchedulerFacade.cs
  source/Messaging.Infrastructure/OutgoingMessages/MessageDispatcher.cs
Due: integration

Command for fetching metering point master data as enqueued when move in transaction is accepted
  source/Messaging.Application/Transactions/MoveIn/FetchMeteringPointMasterData.cs
  source/Messaging.Application/Transactions/MoveIn/FetchMeteringPointMasterDataWhenAccepted.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/Configuration/Processing/DomainEventsAccessor.cs
  source/Messaging.Infrastructure/Configuration/Processing/RaiseDomainEventsBehaviour.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
  source/Messaging.IntegrationTests/AssertQueuedCommand.cs
Due: integration

Add empty request handler
  source/Messaging.Application/Transactions/MoveIn/FetchMeteringPointMasterDataHandler.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
Due: integration

Add handling for forwarding metering point master data to the new energy supplier
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Model/202260171349 Add MP master data forwarded.sql
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterData.cs
  source/Messaging.Application/Transactions/MoveIn/ForwardMeteringPointMasterDataHandler.cs
  source/Messaging.Application/Transactions/MoveIn/MoveInTransaction.cs
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
  source/Messaging.Infrastructure/Transactions/MoveInTransactionEntityConfiguration.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/AssertTransaction.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardMeteringPointMasterDataTests.cs
Due: integration

Extract method
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/ForwardMeteringPointMasterDataTests.cs
Due: integration

An accepted move in transaction cannot be completed if metering point master data has not been forwarded
  source/Messaging.Application/Transactions/MoveIn/MoveInTransaction.cs
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/CompleteMoveInTests.cs
  source/Messaging.Tests/Transactions/MoveIn/MoveInTransactionTests.cs
Due: integration

Move to domain layer
  source/Messaging.Domain/Transactions/MoveIn/IMoveInTransactionRepository.cs
  source/Messaging.Domain/Transactions/MoveIn/MoveInException.cs
  source/Messaging.Domain/Transactions/MoveIn/MoveInTransaction.cs
  source/Messaging.Domain/Transactions/MoveIn/TransactionNotFoundException.cs
Due: none

Move to domain layer
  source/Messaging.Application/OutgoingMessages/BusinessReasonCode.cs
  source/Messaging.Application/OutgoingMessages/DocumentType.cs
  source/Messaging.Application/OutgoingMessages/ProcessType.cs
  source/Messaging.Domain/SeedWork/EnumerationType.cs
Due: none

Added cleanup of supplier registrations for deleted energy suppliers
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Energinet.DataHub.MarketRoles.ActorRegistrySync.csproj
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Entities/SupplierRegistration.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Services/ActorRegistryDBService.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Services/ActorSyncService.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Services/MarketRolesDbService.cs
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/SyncActors.cs
Due: none

Deleted SQL cleanup script since the sync script will handle cleanup
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Scripts/Seed/202260311350 Remove EnergySuppliers.sql
Due: none

Removed deleted SQL script from project file
  source/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp/Energinet.DataHub.MarketRoles.ApplyDBMigrationsApp.csproj
Due: none

Move to a new home
  source/Messaging.Tests/OutgoingMessages/Asserts/AssertXmlMessage.cs
  source/Messaging.Tests/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: none

Move to domain layer
  source/Messaging.Application/OutgoingMessages/MessageRequestHandler.cs
  source/Messaging.Domain/OutgoingMessages/ProcessTypesDoesNotMatchException.cs
Due: none

Move to domain layer
  source/Messaging.Application/Common/DocumentWriter.cs
  source/Messaging.Application/Common/HeaderWriter.cs
  source/Messaging.Application/OutgoingMessages/MessageFactory.cs
  source/Messaging.Domain/OutgoingMessages/MessageHeader.cs
  source/Messaging.Tests/OutgoingMessages/Asserts/AssertXmlMessage.cs
  source/Messaging.Tests/OutgoingMessages/ConfirmRequestChangeOfSupplier/ConfirmRequestChangeOfSupplierDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/GenericNotificationDocumentWriterTests.cs
  source/Messaging.Tests/OutgoingMessages/RejectRequestChangeOfSupplier/RejectRequestChangeOfSupplierDocumentWriterTests.cs
Due: none

Merge main
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
Due: integrationevents

Message process types must match
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Rename
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Extract method
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

comment out condition
  source/Messaging.Domain/Transactions/MoveIn/MoveInTransaction.cs
Due: none

ses
  source/Messaging.Domain/Transactions/MoveIn/MoveInTransaction.cs
  source/Messaging.Tests/Transactions/MoveIn/MoveInTransactionTests.cs
Due: none

Add generic doc writer
  source/Messaging.Infrastructure/Configuration/CompositionRoot.cs
Due: integration

Receiver id must match
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Introduce field
  source/Messaging.Tests/OutgoingMessages/BundleTests.cs
Due: none

Changed cim type from 414 to E44
  source/Messaging.Application/Common/HeaderWriter.cs
  source/Messaging.Application/Xml/SchemaStore/Schemas/urn-ediel-org-structure-confirmrequestchangeofsupplier-0-1.xsd
  source/Messaging.Application/Xml/SchemaStore/Schemas/urn-ediel-org-structure-rejectrequestchangeofsupplier-0-1.xsd
  source/Messaging.Application/Xml/SchemaStore/Schemas/urn-entsoe-eu-wgedi-codelists.xsd
  source/Messaging.IntegrationTests/Application/Transactions/MoveIn/RequestMoveInTests.cs
  source/Messaging.Tests/OutgoingMessages/AssertXmlMessage.cs
Due: integration

Added skip in case of no suppliers
  source/Energinet.DataHub.MarketRoles.ActorRegistrySync/Services/MarketRolesDbService.cs
Due: none

fix tf validate and use isolated processes
  build/infrastructure/main/func-api.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/mssqldb-this.tf
Due: none

Added classes for writing AP characteristics
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketActivityRecord.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint.cs
Due: integrationevents

Added additional MarketEvaluationPoint info to writer
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint.cs
Due: none

Moved classes into seperate files
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/Address.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/ChildEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/ParentEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/Series.cs
Due: none

Add Nuget package with contracts
  source/IntegrationEvents/source/IntegrationEvents/ConsumerMovedIn.cs
  source/IntegrationEvents/source/IntegrationEvents/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/FutureEnergySupplierChangeRegistered.cs
Due: integrationevents

Generalised writing of mRID and Unit types
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/Address.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/ChildEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/MarketEvaluationPoint.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/ParentEvaluationPoint.cs
Due: none

Split address in Street and Town Removed duplicate writes Added required XSD schema file to schema store
  source/Messaging.Application/Messaging.Application.csproj
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/Address.cs
  source/Messaging.Application/Xml/SchemaStore/Schemas/urn-ediel-org-structure-accountingpointcharacteristics-0-1.xsd
Due: none

Moved StreetDetail and TownDetail into seperate files
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/AccountingPointCharacteristicsDocumentWriter.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/StreetDetail.cs
  source/Messaging.Application/OutgoingMessages/AccountingPointCharacteristics/TownDetail.cs
Due: none

Path conditions:
  unit: any of: source/Messagging.Application/, source/Messagging.Tests/, source/Processing.Application/, source/Processing.Domain/, source/Processing.Tests/
  integration: any of: source/Energinet.DataHub.MarketRoles.EntryPoints.Common, source/Energinet.DataHub.MarketRoles.EntryPoints.Processing, source/Processing.Infrastructure, source/Messaging.Infrastructure, source/Messaging.IntegrationTests, source/Processing.IntegrationTests
  integrationevents: any of: source/IntegrationEvents/
